<template>
    <div>

        <!--Header-->
        <header id="up">
            <div class="header-slider">
                <div class="carousel slide" data-ride="carousel" id="slider">
                    <ol class="carousel-indicators  ">
                        <li class="active" data-slide-to="0" data-target="#slider"></li>
                        <li data-slide-to="1" data-target="#slider"></li>
                        <li data-slide-to="2" data-target="#slider"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item--custom active">
                            <!--                <img alt="First slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item--custom">
                            <!--                <img alt="Second slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item--custom">
                            <!--                <img alt="Third slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

                <!--========= Services section =========-->
                <section id="services-section">
                    <div class="row header-row">
                        <div class="col-12 text-center">
                            <h3 class="main-heading">What kind of service do you offer?</h3>
                            <div class="line"></div>
                        </div>
                    </div>


                    <div class="services-row">
                        <div class="row row-wrapper">
                            <div class="col-4 col-custom--1">
                                <a href="profile.html">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/profile.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Profile</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-4 col-custom--1">
                                <a href="employee-job-posts.html">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/job-posts.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Job posts</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-4 col-custom--1">
                                <a href="notification.html">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/notification.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Notifications</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-4 col-custom col-custom-1">
                                <a href="#">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/message.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Messages</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-4 col-custom col-custom--3">
                                <a href="find-mery.html">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/job.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Tracking job</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-4 col-custom">
                                <a href="#">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/support.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Support</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </header>

        <main id="page-content">
            <section class="about-us">
                <div class="container">
                    <div class="row about-header">
                        <nav aria-label="breadcrumb" style="z-index: 12">
                            <ol class="breadcrumb">
                                <li aria-current="page" class="breadcrumb-item">
                                    <a class="custom-link" href="home.html">
                                        <i class="fas fa-chevron-left back-icon"></i>
                                        <span class="paginate-header"> Back </span>
                                    </a>
                                </li>
                            </ol>
                        </nav>

                        <div class="col-12 text-center">
                            <h2 class="main-heading pt-0">
                                about us
                            </h2>
                            <div class="line mx-auto"></div>
                        </div>

                        <div class="col-12 text-center about-img">
                            <img alt="about us" src="../assets/img/about-img.png">
                        </div>

                        <div class="col-12 about-text">
                            <h3 class="about-heading">mery</h3>

                            <p class="about-pargraph">
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                                odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
                                in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
                                quo voluptas nulla pariatur?"
                            </p>

                            <h4 class="about-heading sub-heading">address</h4>
                            <p class="about-pargraph sub-pargraph">Saudi Arabia - Riyadh - Abdul Aziz Street PO Box 4565 </p>

                            <div class="col-12 social-icon">
                                <a href="#"><i class="fab fa-facebook-square subscribe-icon"></i></a>
                                <a href="#"><i class="fab fa-twitter subscribe-icon"></i></a>
                                <a href="#"><i class="fab fa-instagram subscribe-icon"></i></a>
                                <a href="#"><i class="fab fa-youtube subscribe-icon"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g subscribe-icon"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p subscribe-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


    </div>
</template>



<script>
    export default {

        name: 'About',
    }
</script>



