<template>
    <div>
        <Header />

        <transition name="moveInUp">
            <router-view></router-view>
        </transition>



        <Footer />
    </div>
</template>
<script>
    import Header from '../components/Header'
    import Footer from "../components/Footer";
    import store from '../store'
    import axios from 'axios';
    export default {
        name: 'App',

        components: { Header, Footer },
        created() {

            if(localStorage.token) {
                axios.get('/api/user', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('token')
                        }
                    },
                ).then(response => {
                    store.commit('loginUser')
                }).catch(error => {
                    if (error.response.status === 401 || error.response.status === 403) {
                        store.commit('logoutUser')
                        localStorage.setItem('token', '')
                        this.$router.push({name: 'login'})
                    }

                });
            }

        }

    }
</script>

<style scoped>
    @import '../assets/css/style.css';
    .moveInUp-enter-active{  animation: fadeIn .4s ease-in;}@keyframes fadeIn{  0%{    opacity: 0;  }  50%{    opacity: 0.5;  }  100%{    opacity: 1;  }}
</style>
