<template>
    <div>

        <!--Header-->
        <header id="up">

            <div class="header-slider">
                <div class="carousel slide" data-ride="carousel" id="slider">
                    <ol class="carousel-indicators  ">
                        <li class="active" data-slide-to="0" data-target="#slider"></li>
                        <li data-slide-to="1" data-target="#slider"></li>
                        <li data-slide-to="2" data-target="#slider"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item--custom active">
                            <!--                <img alt="First slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>

                        <div class="carousel-item carousel-item--custom">
                            <!--                <img alt="Second slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item--custom">
                            <!--                <img alt="Third slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

                <!--========= Get started section =========-->
                <section id="started-section">
                    <div class="row pt-4">
                        <div class="col-lg-6 col-12">
                            <h3 class="main-heading pl-5">Let's get started. Choose an option.</h3>
                            <div class="line"></div>
                        </div>
                        <div class="col-lg-6 col-12 col-custom">
                            <div class="row text-center right-heading">
                                <div class="col-md-3">
                                    <h5 class="text-red">{{ workersCount }}</h5>
                                    <p>mery</p>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="text-blue">{{ agencyCount }}</h5>
                                    <p>Legal agency</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>{{ employerCount }}</h5>
                                    <p>housekeeping training</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Login Form-->

                    <div class="started-row">
                        <div class="row row-wrapper">
                            <div class="col-lg-6 col-md-12  col-12 pl-5">
                                <div class="media media-custom left-side">
                                        <span>
                                             <img alt="want mery" class="align-self-start mr-3"
                                                  src="../assets/img/photo1.png" style="padding-left: 4px;">
                                        </span>
                                    <div class="media-body">
                                        <h4 class="desktop-header">I need mery</h4>
                                        <h4 class="mobile-header"><router-link :to="{name: 'want_mery'}" class='custom-link'>I need a caregiver</router-link>
                                        </h4>
                                        <small>Start your free search for care in your area.</small>
                                    </div>
                                </div>
                                <div class="media-btn">
                                    <router-link :to="{name: 'want_mery'}" class="btn btn-find btn-danger--custom">Find mery</router-link>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12 col-12 pl-5">
                                <div class="media media-custom right-side">
                                        <span>
                                             <img alt="want mery" class="align-self-start mr-3 img--2"
                                                  src="../assets/img/photo2.png" style="padding-left: 4px;">
                                        </span>
                                    <div class="media-body media-body--2">
                                        <h4 class="desktop-header">I want a mery job</h4>
                                        <h4 class="mobile-header"><a class='custom-link' href='#'>I want a care job</a>
                                        </h4>
                                        <small>Create a free profile and search for jobs.</small>
                                    </div>
                                </div>
                                <div class="media-btn">
                                    <a class="btn btn-find btn-primary--custom" href="#">Find jobs</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <Best />

        </header>
    </div>
</template>

<script>

    import axios from 'axios';
    import Best from '../components/Best';

    export default {
        name: 'Home',
        components: {Best},

        data() {
            return {
                workersCount: null,
                agencyCount: null,
                employerCount: null,
                error: null,
            };
        },
        created() {
            this.fetchWorkerCount();
            this.fetchAgencyCount();
            this.fetchEmployerCount();
        },
        methods: {
            fetchWorkerCount() {
                this.error = this.workersCount = null;
                axios
                    .get('api/worker/count')
                    .then(response => {
                        this.workersCount = response.data.data
                    });
            },
            fetchAgencyCount() {
                this.error = this.agencyCount = null;
                axios
                    .get('api/agency/count')
                    .then(response => {
                        this.agencyCount = response.data.data
                    });
            },
            fetchEmployerCount() {
                this.error = this.employerCount = null;
                axios
                    .get('api/employer/count')
                    .then(response => {
                        this.employerCount = response.data.data
                    });
            },
        }


    }
</script>

