<template>

    <div>

        <!--Header-->
        <header id="up">

            <div class="header-slider">
                <div class="carousel slide" data-ride="carousel" id="slider">
                    <ol class="carousel-indicators  ">
                        <li class="active" data-slide-to="0" data-target="#slider"></li>
                        <li data-slide-to="1" data-target="#slider"></li>
                        <li data-slide-to="2" data-target="#slider"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item--custom active">
                            <!--                <img alt="First slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item--custom">
                            <!--                <img alt="Second slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item--custom">
                            <!--                <img alt="Third slide" class="d-block w-100" src="img/showCase.png">-->
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

                <!--========= Services section =========-->
                <section id="services-section">
                    <div class="row header-row">
                        <div class="col-12 text-center">
                            <h3 class="main-heading">What kind of service do you offer?</h3>
                            <div class="line"></div>
                        </div>
                    </div>


                    <div class="services-row">
                        <div class="row row-wrapper">
                            <div class="col-4 col-custom--1">
                                <a href="profile.html">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/profile.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Profile</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-4 col-custom--1">
                                <a href="job-posts.html">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/job-posts.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Job posts</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-4 col-custom--1">
                                <a href="notification.html">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/notification.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Notifications</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-4 col-custom col-custom-1">
                                <a href="#">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/message.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Messages</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="col-4 col-custom col-custom--3">
                                <a href="#">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/job.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Tracking job</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-4 col-custom">
                                <a href="#">
                                    <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/support.png">
                                </span>
                                        <div class="media-body">
                                            <h4>Support</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </header>

        <main id="page-content">
            <section class="filter-section">
                <div class="container job-header">
                    <h2 class="main-heading">
                        Job filter
                    </h2>
                    <div class="line--1"></div>
                </div>

                <!--========  Search bar  =========-->
                <div class="search-bar filter-bar">
                    <div class="container bar--width">
                        <div class="form-group form-group--custom form-width">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text inp-l">
                                        <span class="left-text">search</span>
                                    </div>
                                </div>
                                <input class="form-control search-input" id="search" placeholder="mery, house heeping …."
                                       type="text">

                                <div class="input-group-prepend prepend-width">
                                    <div class="input-group-text filter-box">
                                        <img alt="filter" class="filter-icon" src="../assets/img/filter-icon.png">
                                        <span class="right-text">Filter</span>
                                    </div>
                                </div>



                                <div class="btn btn-search">
                                    <a class="btn-text" href="#">search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--    posts filter   -->
                <div class="container job-header bar--width">
                    <div class="row">
                        <div class="col-lg-3 col-12 aside-wrapper">
                            <aside class="filter-options">
                                <form>
                                    <div class="form-group form-select">
                                        <label class="label-text" for="location">Locations</label>
                                        <select class="form-control" id="location" name="location">
                                            <option value="">Locations</option>
                                            <option value="">Location</option>
                                        </select>
                                    </div>

                                    <div class="form-group form-select">
                                        <label class="label-text" for="emp-name">Emp-name</label>
                                        <select class="form-control" id="emp-name" name="emp-name">
                                            <option value="">emp-name</option>
                                            <option value="">emp-name</option>
                                        </select>
                                    </div>

                                    <div class="form-group form-select">
                                        <label class="label-text" for="salary">Salary</label>
                                        <select class="form-control" id="salary" name="salary">
                                            <option value="">10 - 500 RS</option>
                                            <option value="">10 - 500</option>
                                        </select>
                                    </div>

                                    <label class="skills-label">Skills</label>
                                    <div class="line-hor"></div>


                                    <div class="form-group form-group--custom checkbox-wrapper">
                                        <input checked class="custom-checkbox" id="checkbox-1" type="checkbox">
                                        <label class="checkmark" for="checkbox-1"></label>
                                        <span class="skill-text">Skills1</span>
                                    </div>

                                    <div class="form-group form-group--custom checkbox-wrapper">
                                        <input checked class="custom-checkbox" id="checkbox-2" type="checkbox">
                                        <label class="checkmark" for="checkbox-2"></label>
                                        <span class="skill-text">Skills1</span>
                                    </div>

                                    <div class="form-group form-group--custom checkbox-wrapper">
                                        <input checked class="custom-checkbox" id="checkbox-3" type="checkbox">
                                        <label class="checkmark" for="checkbox-3"></label>
                                        <span class="skill-text">Skills1</span>
                                    </div>

                                    <div class="form-group form-group--custom checkbox-wrapper">
                                        <input checked class="custom-checkbox" id="checkbox-4" type="checkbox">
                                        <label class="checkmark" for="checkbox-4"></label>
                                        <span class="skill-text">Skills1</span>
                                    </div>

                                    <div class="form-group form-group--custom checkbox-wrapper">
                                        <input checked class="custom-checkbox" id="checkbox-5" type="checkbox">
                                        <label class="checkmark" for="checkbox-5"></label>
                                        <span class="skill-text">Skills1</span>
                                    </div>

                                    <div class="form-group form-group--custom checkbox-wrapper">
                                        <input checked class="custom-checkbox" id="checkbox-6" type="checkbox">
                                        <label class="checkmark" for="checkbox-6"></label>
                                        <span class="skill-text">Skills1</span>
                                    </div>

                                    <div class="form-group form-group--custom checkbox-wrapper">
                                        <input checked class="custom-checkbox" id="checkbox-7" type="checkbox">
                                        <label class="checkmark" for="checkbox-7"></label>
                                        <span class="skill-text">Skills1</span>
                                    </div>

                                    <input class="btn btn-red btn-custom" value="Search" type="submit">
                                    <input class="btn btn-default btn-custom" value="Reset" type="reset">
                                </form>
                            </aside>
                        </div>

                        <div class="col-lg-9 col-12">
                            <div class="posts ">
                                <div class="media job-wrapper">
                                    <img alt="..." class="mr-3" src="../assets/img/girl.png">
                                    <div class="media-body">
                                        <h5 class="job-title">Title job</h5>
                                        <img alt="place" src="../assets/img/place-2.png"> <span class="job-location">Hong Kong</span>
                                        <p class="job-duration">
                                            <span class="dur">3/h - 1day</span> 350 RS
                                        </p>
                                        <p class="job-description">
                                            ocal family working couple with one chil
                                            Looking for driver
                                        </p>
                                    </div>

                                    <div class="post-time">
                                        <time>20 m ago</time>
                                    </div>

                                    <div class="align-self-end">
                                        <a class="more" href="#">View More <img alt="arrow" src="../assets/img/rihgtArrow.png"> </a>
                                    </div>
                                </div>

                                <div class="media job-wrapper">
                                    <img alt="..." class="mr-3" src="../assets/img/girl.png">
                                    <div class="media-body">
                                        <h5 class="job-title">Title job</h5>
                                        <img alt="place" src="../assets/img/place-2.png"> <span class="job-location">Hong Kong</span>
                                        <p class="job-duration">
                                            <span class="dur">3/h - 1day</span> 350 RS
                                        </p>
                                        <p class="job-description">
                                            ocal family working couple with one chil
                                            Looking for driver
                                        </p>
                                    </div>

                                    <div class="post-time">
                                        <time>20 m ago</time>
                                    </div>

                                    <div class="align-self-end">
                                        <a class="more" href="#">View More <img alt="arrow" src="../assets/img/rihgtArrow.png"> </a>
                                    </div>
                                </div>

                                <div class="media job-wrapper">
                                    <img alt="..." class="mr-3" src="../assets/img/girl.png">
                                    <div class="media-body">
                                        <h5 class="job-title">Title job</h5>
                                        <img alt="place" src="../assets/img/place-2.png"> <span class="job-location">Hong Kong</span>
                                        <p class="job-duration">
                                            <span class="dur">3/h - 1day</span> 350 RS
                                        </p>
                                        <p class="job-description">
                                            ocal family working couple with one chil
                                            Looking for driver
                                        </p>
                                    </div>

                                    <div class="post-time">
                                        <time>20 m ago</time>
                                    </div>

                                    <div class="align-self-end">
                                        <a class="more" href="#">View More <img alt="arrow" src="../assets/img/rihgtArrow.png"> </a>
                                    </div>
                                </div>
                            </div>

                            <nav aria-label="Page navigation" class="nav-pagination">
                                <ul class="pagination justify-content-center align-self-center">
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                                    <li class="page-item">
                                        <a aria-label="Next" class="page-link" href="#">
                                            <img alt="next" src="../assets/img/right.png">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


            </section>
        </main>


    </div>

</template>

<script>

    export default  {
        name: 'jobs_filter'

    };

</script>