<template>
    <div>
    <!--Header-->
    <header id="up">

        <div class="header-slider">
            <div class="carousel slide" data-ride="carousel" id="slider">
                <ol class="carousel-indicators  ">
                    <li class="active" data-slide-to="0" data-target="#slider"></li>
                    <li data-slide-to="1" data-target="#slider"></li>
                    <li data-slide-to="2" data-target="#slider"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item carousel-item--custom active">
                        <!--                <img alt="First slide" class="d-block w-100" src="img/showCase.png">-->
                        <div class="carousel-caption carousel-caption--custom img-slide">
                            <!-- Header caption -->
                            <section class="header-text">
                                <h1> mery </h1>
                                <h2>Care for all you love.</h2>
                                <p>Search for after-school sitters, nannies, senior care and more.</p>
                            </section>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item--custom">
                        <!--                <img alt="Second slide" class="d-block w-100" src="img/showCase.png">-->
                        <div class="carousel-caption carousel-caption--custom img-slide">
                            <!-- Header caption -->
                            <section class="header-text">
                                <h1> mery </h1>
                                <h2>Care for all you love.</h2>
                                <p>Search for after-school sitters, nannies, senior care and more.</p>
                            </section>
                        </div>
                    </div>
                    <div class="carousel-item carousel-item--custom">
                        <!--                <img alt="Third slide" class="d-block w-100" src="img/showCase.png">-->
                        <div class="carousel-caption carousel-caption--custom img-slide">
                            <!-- Header caption -->
                            <section class="header-text">
                                <h1> mery </h1>
                                <h2>Care for all you love.</h2>
                                <p>Search for after-school sitters, nannies, senior care and more.</p>
                            </section>
                        </div>
                    </div>
                </div>

            </div>

            <!--========= Services section =========-->
            <section id="services-section">
                <div class="row header-row">
                    <div class="col-12 text-center">
                        <h3 class="main-heading">What kind of service do you offer?</h3>
                        <div class="line"></div>
                    </div>
                </div>


                <div class="services-row">
                    <div class="row row-wrapper">
                        <div class="col-4 col-custom--1">
                            <a href="profile.html">
                                <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/profile.png">
                                </span>
                                    <div class="media-body">
                                        <h4>Profile</h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-4 col-custom--1">
                            <a href="employee-job-posts.html">
                                <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/job-posts.png">
                                </span>
                                    <div class="media-body">
                                        <h4>Job posts</h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-4 col-custom--1">
                            <a href="notification.html">
                                <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/notification.png">
                                </span>
                                    <div class="media-body">
                                        <h4>Notifications</h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-4 col-custom col-custom-1">
                            <a href="#">
                                <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/message.png">
                                </span>
                                    <div class="media-body">
                                        <h4>Messages</h4>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-4 col-custom col-custom--3">
                            <a href="find-mery.html">
                                <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/job.png">
                                </span>
                                    <div class="media-body">
                                        <h4>Tracking job</h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-4 col-custom">
                            <a href="#">
                                <div class="media media-custom">
                                <span>
                                    <img alt="want mery" class="align-self-start media-img"
                                         src="../assets/img/support.png">
                                </span>
                                    <div class="media-body">
                                        <h4>Support</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </header>

    <main id="page-content">
        <section class="posts-section find-mery">
            <div class="container job-header">
                <h2 class="job-posts">
                    find mery
                </h2>
                <div class="line--1"></div>
            </div>
            <!--========  Search bar  =========-->
            <div class="search-bar">
                <div class="container bar--width">
                    <div class="form-group form-group--custom">
                        <div class="input-group">
                            <div class="input-group-prepend search-text">
                                <div class="input-group-text inp-l">
                                    <span class="left-text">search</span>
                                </div>
                            </div>
                            <input class="form-control search-input" v-model="search_name" id="search" placeholder="mery, house heeping …."
                                   type="text">

                            <div class="input-group-prepend prepend-width">
                                <div class="input-group-text  filter-box" v-bind:class="{'toggle-color': filter_mode}">
                                    <a @click.prevent="filterMode" class="custom-link" id="filter-link">
                                        <img alt="filter" class="filter-icon" src="../assets/img/filter.png" v-if="!filter_mode">
                                        <img alt="filter" class="filter-icon" src="../assets/img/filter-icon.png" v-if="filter_mode">
                                        <span class="right-text">Filter</span>
                                    </a>
                                </div>
                            </div>

                            <div class="ver-line">&nbsp</div>

                            <div class="btn btn-search">
                                <a @click.prevent="searchByName" class="btn-text">search</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--========  job post  =========-->
            <div class="container job-header bar--width">
                <div class="row">
                    <div class="col-lg-3 col-12 aside-wrapper" v-if="filter_mode">
                        <aside class="filter-options">
                            <form>
                                <div class="form-group form-select">
                                    <label class="label-text" for="location">Country</label>
                                    <select v-model="country_to_work" class="form-control" id="location" name="country_to_work">
                                        <option v-for="country of countries" :value="country.title">{{ country.title }}</option>
                                    </select>
                                </div>

                                <div class="form-group form-select">
                                    <label class="label-text" >Nationality</label>
                                        <select v-model="nationality" class="form-control" name="location">
                                            <option v-for="country of countries" :value="country.title">{{ country.title }}</option>
                                        </select>
                                </div>

                                <div class="form-group form-select">
                                    <label class="label-text" >Salary</label>
                                    <div class="input-field">
                                        <input v-model="salary" class="form-control" name="salary"
                                               type="text">
                                    </div>
                                </div>

                                <div class="form-group form-select">
                                    <label class="label-text">Job Type</label>
                                        <select v-model="job_type" class="form-control" name="job_type">
                                            <option v-for="job of job_types" :value="job.title">{{ job.title }}</option>
                                        </select>
                                </div>
                                <div class="line-hor"></div>


                                <input @click.prevent="filter" class="btn btn-red btn-custom" type="submit" value="Search">
                                <input @click.prevent="reset" class="btn btn-default btn-custom" type="reset" value="Reset">
                            </form>
                        </aside>
                    </div>

                    <div class=" col-12 mery-wrapper"  v-bind:class="{ 'col-lg-9': filter_mode }">
                        <div class="posts " >
                            <div v-for="mery of merys" class="media job-wrapper " v-bind:class="{'job-width': filter_mode}">
                                <img width="70"  alt="..." class="mr-3 img-responsive rounded-circle" :src="mery.imgUrl">
                                <div class="media-body">
                                    <h5 class="job-title"><a class="custom-link" href="public-profile.html">{{ mery.name }}</a>
                                    </h5>
                                    <img alt="place" src="../assets/img/place-2.png"> <span class="job-location">{{ mery.nationality.title }}</span>
                                    <p class="job-duration">
                                        <span class="dur">Per hour</span> 350 RS
                                    </p>
                                    <p class="job-description">
                                       {{ mery.bio }}
                                    </p>
                                </div>

                                <div class="post-time">
                                    <span class="mery-stauts online">online <i class="fas fa-circle"></i></span>
                                </div>

                                <div class="align-self-end">
                                    <a class="more" href="#">View More <img alt="arrow" src="../assets/img/rihgtArrow.png"> </a>
                                </div>
                            </div>

                        </div>

                        <nav aria-label="Page navigation" class="nav-pagination">
                            <ul class="pagination justify-content-center align-self-center">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link" href="#">7</a></li>
                                <li class="page-item"><a class="page-link" href="#">8</a></li>
                                <li class="page-item"><a class="page-link" href="#">9</a></li>
                                <li class="page-item">
                                    <a aria-label="Next" class="page-link" href="#">
                                        <img alt="next" src="../assets/img/right.png">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>


    </div>
</template>



<script>
    import axios from 'axios';

    export default {

        name: 'MeryFilter',
        data() {
            return {
                filter_mode: false,
                merys: [],
                countries: [],
                job_types: [],
                search_name: null,
                country_to_work: null,
                job_type: null,
                salary: null,
                nationality: null

            };
        },
        created() {
            this.getMerys();
            this.getCountries();
            this.getTypes();
        },
        methods: {
            getCountries() {
                axios.get('/api/worker/country', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }).then(res => {
                    this.countries = res.data.data;

                })
            },
            getTypes() {
                axios.get('/api/worker/job_type', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }).then(res => {
                    this.job_types = res.data.data;
                })
            },
            filterMode() {
                return this.filter_mode = !this.filter_mode;
            },
            getMerys() {
                axios.get('api/worker', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }).then(res => {
                    this.merys = res.data.data.data;
                    console.log(this.merys);
                })
            },
            searchByName() {
                axios.get(`api/agency/filters/${this.search_name}`, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }).then(res => {
                    this.merys = res.data.data.data;
                })
            },
            filter() {
                axios.get(`api/agency/filter/${this.country_to_work}/${this.nationality}/${this.job_type}/${this.salary}`, {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }).then(res => {
                    this.merys = res.data.data.data;
                    console.log(this.merys);
                })
            },
            reset() {
                this.nationality = null;
                this.country_to_work = null;
                this.salary = null;
                this.job_type = null;
            }
        },

    }
</script>

