<template>
    <div>

        <!--Header-->
        <header id="up">
            <div class="header-slider">
                <div class="carousel slide" data-ride="carousel" id="slider">
                    <ol class="carousel-indicators  ">
                        <li class="active" data-slide-to="0" data-target="#slider"></li>
                        <li data-slide-to="1" data-target="#slider"></li>
                        <li data-slide-to="2" data-target="#slider"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item--custom active">
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item--custom">
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item--custom">
                            <div class="carousel-caption carousel-caption--custom img-slide">
                                <!-- Header caption -->
                                <section class="header-text">
                                    <h1> mery </h1>
                                    <h2>Care for all you love.</h2>
                                    <p>Search for after-school sitters, nannies, senior care and more.</p>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

                <!--============== Services section ========= -->
                <section id="want-mery">
                    <div class="container">
                        <!--============== When do you need mery ========= -->
                        <section class="need-mery" id="need-mery">
                            <div class="row custom-row mb-0">
                                <div class="col-lg-2 col-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li aria-current="page" class="breadcrumb-item">
                                                <a class="custom-link">
                                                    <i class="fas fa-chevron-left back-icon"></i>
                                                    <span class="paginate-header"> Back </span>
                                                </a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="col-lg-10 col-12 need-mery-header">
                                    <h3 class="main-heading" style="margin-left: 16%">when do you need a mery?</h3>
                                    <div class="line" style="margin-left: 18%"></div>
                                </div>
                            </div>

                            <div class="mx-5 serv-row">
                                <div class="row row-wrapper row-wrapper--1">

                                    <div class="col-lg-3 col-12">
                                        <a class="now" href="#">
                                            <div class="option-wrapper">
                                                <img alt="right now" src="../assets/img/now.png">
                                                <p>Right now</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-12">
                                        <a href="#">
                                            <div class="option-wrapper">
                                                <img alt="right now" src="../assets/img/week.png">
                                                <p>Within a week</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-12">
                                        <a href="#">
                                            <div class="option-wrapper">
                                                <img alt="right now" src="../assets/img/month.png">
                                                <p>In 1-2 month</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-12">
                                        <router-link :to="{name: 'mery_filter'}" >
                                            <div class="option-wrapper">
                                                <img alt="right now" src="../assets/img/browsing.png">
                                                <p>Just browsing</p>
                                            </div>
                                        </router-link>
                                    </div>

                                </div>
                            </div>
                        </section>
                        <section class="steps-slider" style="display:none;">
                            <div class="carousel slide" data-interval="false" data-ride="carousel" data-wrap="false" id="steps">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li aria-current="page" class="breadcrumb-item">
                                            <a class="carousel-control-prev carousel-prev custom-link" data-slide="prev"
                                               href="#steps" role="button"
                                               style="display:none;">
                                                <i class="fas fa-chevron-left back-icon"></i>
                                                <span aria-hidden="true" class="paginate-header"> Back </span>
                                            </a>
                                        </li>
                                    </ol>
                                </nav>


                                <div class="carousel-inner">
                                    <div class="carousel-item active step-1 ">
                                        <a class="custom-link position-relative mt-4 back" href="#need-mery" role="button"
                                           style="left: 1rem;top:1rem">
                                            <i class="fas fa-chevron-left back-icon"></i>
                                            <span aria-hidden="true" class="paginate-header"> Back </span>
                                        </a>
                                        <div class="text-center step-heading">
                                            <img alt="mery" src="../assets/img/photo1.png" style="width: 4rem; height: 4rem">
                                            <h2 class="step-header">
                                                Your perfect Mery is waiting.
                                            </h2>
                                            <p class="step-desc">
                                                Just a few quick questions to match the best
                                                available housekeepers to your needs.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="mery-home">
                                            <img alt="mery" class="img-hide" src="../assets/img/photo1.png"
                                                 style="width: 4rem; height: 4rem;display: none;">
                                            <h3 class="step-header--1">
                                                Tell us what your Mery should know about your home.
                                            </h3>
                                        </div>

                                        <div class="step-tracker">
                                            <div class="progress-bar-wrapper">
                                                <div class="step step-1 done"></div>
                                                <div class="bar"></div>
                                                <div class="step step-2"></div>
                                                <div class="bar"></div>
                                                <div class="step step-3"></div>
                                                <div class="bar"></div>
                                                <div class="step step-4"></div>
                                            </div>
                                        </div>

                                        <div class="form-wrapper form-step-1">
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4 col-12 txt-center">

                                                        <label for="inputSize">Your house size</label>
                                                        <div class="form-inline">
                                                            <input class="form-control" id="inputSize"
                                                                   placeholder="insert number"
                                                                   type="text">
                                                            <span class="unit">meters</span>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-md-4 col-12 txt-center">
                                                        <label for="bed-room-number">How many bedrooms</label>
                                                        <div class="form-inline">
                                                            <a class="sub button" href="#"><i class="fas fa-minus"></i></a>
                                                            <input class="field" id="bed-room-number" name="bed-number"
                                                                   type="text"
                                                                   value="02"/>
                                                            <a class="add button" href="#"><i class="fas fa-plus"></i> </a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-4 col-12 txt-center">
                                                        <label for="child-num">Child number</label>
                                                        <div class="form-inline">
                                                            <a class="sub button" href="#"><i class="fas fa-minus"></i></a>
                                                            <input class="field" id="child-num" name="child-number" type="text"
                                                                   value="02"/>
                                                            <a class="add button" href="#"><i class="fas fa-plus"></i> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="mery-home">
                                            <img alt="mery tasks" src="../assets/img/photo1.png" style="width: 3rem;height: 3rem;">
                                            <span class="step-header--1">What tasks do you expect your mery to complete?</span>
                                        </div>

                                        <div class="step-tracker">
                                            <div class="progress-bar-wrapper">
                                                <div class="step step-1 done"></div>
                                                <div class="bar"></div>
                                                <div class="step step-2 done" data-slide="prev" role="button"></div>
                                                <div class="bar"></div>
                                                <div class="step step-3"></div>
                                                <div class="bar"></div>
                                                <div class="step step-4"></div>
                                            </div>
                                        </div>

                                        <p class="apply-task">Click all that apply:</p>

                                        <form action="" class="form-wrapper form-wrapper-edit" id="task-wrapper">
                                            <div class="form-group row mb-0 hide-form">
                                                <div class="form-check   col-lg-3 col-12">
                                                    <input checked class="form-check-input" id="task-1" name="task-1"
                                                           type="checkbox" value="task-1">
                                                    <label class="form-check-label task-label" for="task-1">Bathroom
                                                        cleaning</label>
                                                </div>
                                                <div class="form-check  col-lg-3 col-12">
                                                    <input checked class="form-check-input" id="task-2" name="task-2"
                                                           type="checkbox" value="task-2">
                                                    <label class="form-check-label task-label" for="task-2">Kitchen
                                                        cleaning</label>
                                                </div>
                                                <div class="form-check   col-lg-3 col-12">
                                                    <input class="form-check-input" id="task-3" name="task-3"
                                                           type="checkbox" value="task-3">
                                                    <label class="form-check-label task-label" for="task-3">Genaral room
                                                        cleaning</label>
                                                </div>
                                                <div class="form-check  col-lg-3 col-12">
                                                    <input class="form-check-input" id="task-4" type="checkbox" name="task-4" value="task-4">
                                                    <label class="form-check-label task-label" for="task-4">windos
                                                        washing</label>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-2 row hide-form">
                                                <div class="form-check form-check-2 col-lg-3 col-12">
                                                    <input class="form-check-input" id="task-5" type="checkbox" name="task-5" value="task-5">
                                                    <label class="form-check-label task-label" for="task-5">Bathroom
                                                        cleaning</label>
                                                </div>
                                                <div class="form-check form-check-2  col-lg-3 col-12">
                                                    <input class="form-check-input" id="task-6" type="checkbox" name="task-6" value="task-6">
                                                    <label class="form-check-label task-label" for="task-6">Bathroom
                                                        cleaning</label>
                                                </div>
                                                <div class="form-check form-check-2  col-lg-3 col-12">
                                                    <input class="form-check-input" id="task-7" type="checkbox" name="task-7" value="task-7">
                                                    <label class="form-check-label task-label" for="task-7">cooking</label>
                                                </div>
                                                <div class="form-check form-check-2  col-lg-3 col-12">
                                                    <input class="form-check-input" id="task-8" type="checkbox" name="task-8" value="task-8">
                                                    <label class="form-check-label task-label" for="task-8">laundry</label>
                                                </div>
                                            </div>

                                            <div class="tack-check-wrapper">

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input checked class="custom-checkbox" id="task--1" name="task-1"
                                                           type="checkbox" value="task-1">
                                                    <label class="checkmark" for="task--1"></label>
                                                    <span class="task-label">Bathroom cleaning</span>
                                                </div>

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input class="custom-checkbox" id="task--2" name="task-2" type="checkbox"
                                                           value="task-2">
                                                    <label class="checkmark" for="task--2"></label>
                                                    <span class="task-label">Kitchen cleaning</span>
                                                </div>

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input class="custom-checkbox" id="task--3" name="task-3" type="checkbox"
                                                           value="task-3">
                                                    <label class="checkmark" for="task--3"></label>
                                                    <span class="task-label">Genaral room cleaning</span>
                                                </div>

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input class="custom-checkbox" id="task--4" name="task-4" type="checkbox"
                                                           value="task-4">
                                                    <label class="checkmark" for="task--4"></label>
                                                    <span class="task-label">windos washing</span>
                                                </div>

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input class="custom-checkbox" id="task--5" name="task-5" type="checkbox"
                                                           value="task-5">
                                                    <label class="checkmark" for="task--5"></label>
                                                    <span class="task-label">Bathroom cleaning</span>
                                                </div>

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input class="custom-checkbox" id="task--6" name="task-6" type="checkbox"
                                                           value="task-6">
                                                    <label class="checkmark" for="task--6"></label>
                                                    <span class="task-label">cooking </span>
                                                </div>

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input class="custom-checkbox" id="task--7" name="task-7" type="checkbox"
                                                           value="task-7">
                                                    <label class="checkmark" for="task--7"></label>
                                                    <span class="task-label">laundry</span>
                                                </div>

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input class="custom-checkbox" id="task--8" name="task-8" type="checkbox"
                                                           value="task-8">
                                                    <label class="checkmark" for="task--8"></label>
                                                    <span class="task-label">laundry</span>
                                                </div>

                                                <div class="form-group form-group--custom checkbox-wrapper">
                                                    <input class="custom-checkbox" id="task--9" name="task-9" type="checkbox"
                                                           value="task-9">
                                                    <label class="checkmark" for="task--9"></label>
                                                    <span class="task-label">laundry</span>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="carousel-item ">
                                        <div class="mery-home mb-3 mt-4">
                                            <img alt="mery tasks" src="../assets/img/photo1.png" style="width: 3rem;height: 3rem;">
                                            <span class="step-header--1"> OK, let's confirm where you'll need help.</span>
                                        </div>

                                        <div class="step-tracker">
                                            <div class="progress-bar-wrapper">
                                                <div class="step step-1 done"></div>
                                                <div class="bar"></div>
                                                <div class="step step-2 done"></div>
                                                <div class="bar"></div>
                                                <div class="step step-3 done"></div>
                                                <div class="bar"></div>
                                                <div class="step step-4"></div>
                                            </div>
                                        </div>

                                        <form>
                                            <div class="form-group text-center mt-4">
                                                <label for="zipCode" class="zipCode">Enter your ZIP:</label>
                                                <input class="form-control zip-inp" id="zipCode" placeholder="ZIP Code"
                                                       type="text">
                                            </div>
                                        </form>

                                    </div>
                                    <div class="carousel-item ">
                                        <div class="mery-home">
                                            <img alt="mery tasks" src="../assets/img/photo1.png" style="width: 3rem;height: 3rem;">
                                            <span class="step-header--1">Nice! <span
                                                    class="mery-num">85</span> mery are near you.</span>
                                        </div>


                                        <div class="step-tracker">
                                            <div class="progress-bar-wrapper">
                                                <div class="step step-1 done"></div>
                                                <div class="bar"></div>
                                                <div class="step step-2 done"></div>
                                                <div class="bar"></div>
                                                <div class="step step-3 done"></div>
                                                <div class="bar"></div>
                                                <div class="step step-4 done"></div>
                                            </div>
                                        </div>


                                        <form action="find-mery.html" class="form-wrapper join-form">
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <label class="freeAccount">Create a free account to see mery who
                                                        match your
                                                        needs.</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="sr-only" for="f-name"></label>
                                                    <input class="form-control" id="f-name" placeholder="First name"
                                                           type="text">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="sr-only" for="l-name"></label>
                                                    <input class="form-control" id="l-name" placeholder="Last name" type="text">
                                                </div>

                                                <div class="col-lg-6">
                                                    <label class="sr-only" for="email"></label>
                                                    <input class="form-control" id="email" placeholder="Email" type="email">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="sr-only" for="password"></label>
                                                    <input class="form-control" id="password" placeholder="Password"
                                                           type="password">
                                                </div>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="join-agree">By clicking "Join now," you agree to our <a
                                                        class="join-link"
                                                        href="#">Terms
                                                    of
                                                    Use</a> and <a class="join-link" href="#">Privacy Policy</a>.</p>
                                            </div>

                                            <div class="col-12 text-center join-btn">
                                                <input class="btn btn-danger--custom" type="submit" value="Join now">
                                                <!--                                    <a href="profile.html" class="btn btn-danger--custom"></a>-->
                                            </div>
                                        </form>


                                    </div>
                                </div>
                                <a class="carousel-control-next carousel-next" data-slide="next" href="#steps"
                                   role="button">
                                    <span class="btn btn-danger--custom">Next</span>
                                </a>
                            </div>
                        </section>
                    </div>

                </section>
            </div>
        </header>

        <Best/>

    </div>
</template>



<script>
    import Best from "../components/Best";
    export default {

        name: 'NeedFilter',
        components: {Best},
        beforeCreate: function () {
           require('../assets/css/want_mery.css');
        },
        created: function () {
            document.getElementsByTagName('body')[0].classList.remove('modal-open');
            document.getElementsByClassName('modal-backdrop')[0].remove();
        }
    }
</script>



