<template>

    <nav class="navbar navbar-expand-lg pos pt-0" id="top-nav">
        <div class="container">
            <router-link :to="{name: 'home'}" class="navbar-brand">
                <img alt="" class="nav-logo" src="../assets/img/logo.png">
            </router-link>

            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
                <i class="fas fa-bars fa-2x icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">

                    <template v-if="isLoggedIn">

                        <li v-if="authUser" class="nav-item nav-login nav-user">
                            <router-link :to="{name: 'profile'}" class="nav-link nav-user-link">{{ authUser.name }}</router-link>
                        </li>

                        <li class="nav-item nav-signup nav-logout">
                            <a  @click.prevent="logout" class="nav-link nav-logout-link" href="">logout</a>
                        </li>

                    </template>
                    <template v-if="!isLoggedIn">
                        <li class="nav-item nav-login">
                            <router-link :to="{name: 'login'}" class="nav-link nav-login-link">Log in</router-link>
                        </li>

                        <li class="nav-item nav-signup">
                            <router-link :to="{name: 'register'}" class="nav-link nav-signup-link">Sign up</router-link>
                        </li>
                    </template>


                    <li class="nav-item nav-item--custom">
                        <router-link :to="{name: 'about'}" class="nav-link nav-link--custom">About</router-link>
                    </li>
                    <li class="nav-item nav-item--custom">
                        <a class="nav-link nav-link--custom" href="#">Find Mery</a>
                    </li>
                    <li class="nav-item nav-item--custom">
                        <a class="nav-link nav-link--custom" href="#">Become Mery</a>
                    </li>
                    <li class="nav-item nav-item--custom">
                        <a class="nav-link nav-link--custom " href="#">Become Egent </a>
                    </li>
                    <li class="nav-item nav-item--custom">
                        <a class="nav-link nav-link--custom " href="#">Become Country </a>
                    </li>
                    <li class="nav-item nav-item--custom">
                        <a class="nav-link nav-link--custom " href="#">Help center & FAQ’s</a>
                    </li>
                    <li class="nav-item nav-item--custom">
                        <a class="nav-link nav-link--custom " href="#">Careers </a>
                    </li>

<!--                    <li class="nav-item nav-item&#45;&#45;custom">-->
<!--                        <a class="nav-link nav-link&#45;&#45;custom " href="#" style="line-height: 1.2">For Busnisse-->
<!--                            <span>List your tody</span>-->
<!--                        </a>-->

<!--                    </li>-->
                    <li class="nav-item nav-item--custom">
                        <router-link :to="{name: 'home'}" class="nav-link nav-link--custom">Home Play</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</template>

<script>

    import store from '../store';
    import  axios from 'axios';
    export default {
        name: 'Header',
        data() {
            return {
                authUser: null,
                isLoggedIn: this.checkIfIsLogged()
            };
        },
        created: function () {

            let that = this;
            this.$bus.$on('logged', function() {
                that.isLoggedIn = that.checkIfIsLogged();
                that.getCurrent();
            });

            this.$bus.$on('logedout', function () {
                that.isLoggedIn = that.checkIfIsLogged();
            });

            if(this.isLoggedIn) that.getCurrent();


        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('user');
                store.commit('logoutUser');
                this.$bus.$emit('logedout', 'User logedout');
                this.$router.push({name: 'home'});
            },
            getCurrent() {
                axios.get('/api/user', {
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                    }
                }).then(res => {
                    this.authUser = res.data;
                })
            },
            checkIfIsLogged() {
                let token = localStorage.getItem('token');
                return !!token;
            }

        }
    }
</script>



