/*#F5F5F5*/
/*#1F2026*/
/*#EB3F66*/
/*#FFFFFF*/
/*#1CB6C5*/
@import url('https://fonts.googleapis.com/css?family=Muli:300,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

@font-face {
    font-family: 'DuCoHeadlineSmall';
    src: url('../font/DuCoHeadline200.ttf');
}

@font-face {
    font-family: 'DuCoHeadlineMedium';
    src: url('../font/DuCoHeadline400.ttf');
}

@font-face {
    font-family: 'DuCoHeadlineLarge';
    src: url('../font/DuCoHeadline600.ttf');
}


body {
    font-family: 'DuCoHeadlineMedium', sans-serif;
}

.back-icon {
    color: #EB3F66;
}


html {
    scroll-behavior: smooth;
}
/*---------------- navbar Style ----------------*/


#top-nav.pos {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 11;
}

#top-nav .nav-item--custom {
    width: 6.25rem;
    height: 4.577rem;
    margin-right: .5625rem;
    background-color: #1CB6C5;
    box-shadow: 0 .625rem 3px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

#top-nav .nav-item--custom:last-child {
    margin-right: 0;
}


#top-nav .nav-link--custom {
    font-size: .875rem;
    padding: 2.3rem 0 !important;
    color: #fff !important;
    text-align: center;
    transition: width .3s ease;
}

#top-nav .nav-link--custom span {
    font-size: .75rem;
    font-family: 'DuCoHeadlineSmall', sans-serif;
}

#top-nav .nav-item--custom:hover {
    background-color: #138f9c;
    transform: translateY(-.3rem);
    box-shadow: 0 .625rem 3px rgba(0, 0, 0, 0.3);
}

#top-nav .nav-login, #top-nav .nav-signup {
    background-color: white;
    padding: 1.7rem 0;
    width: 13.8rem;
    height: 4.577rem;
    text-align: right;
}

#top-nav .nav-login:hover, #top-nav .nav-signup:hover {
    background-color: #F5F5F5;
}


#top-nav .nav-login .nav-login-link {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 2rem !important;
}

#top-nav .nav-signup {
    width: 13rem;
    text-align: left;
}

#top-nav .nav-logout {
    width: 9rem;
}

#top-nav .nav-user {
    width: 17.8rem;
}


#top-nav .nav-signup-link {
    padding-left: 2rem !important;
}

#top-nav .nav-signup a.nav-link, .nav-login a.nav-link {
    color: #202020;
}

#top-nav .nav-logo {
    position: absolute;
    margin-left: 1.5rem;
}

#top-nav .icon {
    color: white;
}


/*------------- Slider style ----------------*/

.header-slider {
    position: relative;
}

#slider.slide {
    margin-top: 24px;
}

#slider .carousel-item {
    background-image: url("../img/showCase.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 46.5rem;
}

/*----- Carousel Image -----*/
/*#slider .carousel-item:first-child{*/
/*    background-image: url("../img/showCase.png");*/
/*}*/

/*#slider .carousel-item:nth-child(2){*/
/*    background-image: url();*/
/*}*/

/*#slider .carousel-item:last-child{*/
/*    background-image: url();*/
/*}*/

#slider .carousel-caption--custom {
    top: 4%;
    left: 20%;
    height: 40%;
}

#slider .carousel-indicators li {
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    width: .447rem;
    height: .447rem;
}

#slider .carousel-indicators .active {
    background-color: #EB3F66;
}


/* Slider caption */


#slider .header-text {
    text-align: left;
    color: #ffffff;
}

#slider .header-text h1 {
    line-height: 1.7;
    font-size: 5.75rem;
    height: 8.5rem;
}

#slider .header-text h2 {
    font-size: 2.5rem;
}

#slider .header-text p {
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
    height: 2.25rem;
    font-family: 'DuCoHeadlineSmall', sans-serif;
}


/*--------- Login / Sign up Form  ------------- */


#auth-section, #forgetPassword, #started-section, #want-mery, #services-section {
    display: block;
    background-color: #ffffff;
    box-shadow: 0 1.25rem 1.8rem rgba(54, 54, 54, .15);
    position: absolute;
    left: 14%;
    bottom: 10%;
    right: 10%;
    border-radius: 20px;
}


#forgetPassword {
    padding-top: 2%;
    padding-bottom: 2%;
}

#auth-section .tabContent {
    display: none;
}

#auth-section .tabContent.current {
    display: inherit;

}

#auth-section .currentTab {
    border-bottom: 2px solid #E75A7A;
    border-right: 1px solid rgba(122, 122, 122, .12);
}

#auth-section .auth-nav {
    width: 70%;
    margin: auto;
}

.auth-header {
    font-size: 1.56rem;
}

#auth-section .form-group--custom {
    width: 80%;
}

#auth-section .form-check-inline {
    margin-bottom: 1.35rem;
    margin-right: 6.5%;
}

#auth-section .tab--custom {
    width: 70%;
    text-align: center;
    cursor: pointer;
    color: #202020;
    font-size: 1.375rem;
}

#auth-section .login-form {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    z-index: 20;
}


#auth-section .form-group--custom input {
    height: 2.875rem;
}

#auth-section input::placeholder, #forgetPassword input::placeholder {
    font-family: 'DuCoHeadlineSmall', sans-serif;
    color: rgba(32, 32, 32, 0.5);
    font-size: 1rem;
}

/*social*/
#auth-section .fa-facebook-f {
    color: #EB3F66;
    margin-right: 3.125rem;
}


#auth-section .social {
    margin-top: 1.33rem;
}

#auth-section .fa-twitter {
    color: #1CB6C5;
    margin-right: 3.125rem;

}

#auth-section .fa-linkedin-in {
    color: #1F2026;
}


/* Radio button custom style*/

.form-check-input--custom {
    position: absolute;
    cursor: pointer;
    opacity: 0;

}

.check-wrapper {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check {
    position: absolute;
    top: .2rem;
    left: -3px;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #ffffff;
    border: 2px solid #E2E2E2;
    border-radius: 50%;
}

.check-wrapper:hover input ~ .check {
    background-color: #FCE7E7;
}

.check-wrapper input:checked ~ .check {
    background-color: #EB3F66;
    border: 5px solid #E2E2E2;
}

.check-wrapper:after {
    content: "";
    position: absolute;
    display: none;
}

.check-wrapper input:checked ~ .check:after {
    display: block;
}

.check-wrapper .check:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


.btn-danger--custom {
    background-color: #EB3F66;
    color: #ffffff !important;
    font-size: 1.25rem;
    font-family: 'DuCoHeadlineMedium', sans-serif;
    transition: all .6s ease;
    border: 2px solid #EB3F66;
}

.btn-danger--custom:hover, .btn-danger--custom:focus {
    background-color: #ffffff;
    color: #EB3F66 !important;
    border: 2px solid #EB3F66;
    box-shadow: none;
}

.checkbox-wrapper {
    position: relative;
    padding-left: 1.3rem;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: .875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'DuCoHeadlineSmall', sans-serif;
}

.forget-pass {
    font-size: .875rem;
    font-family: 'DuCoHeadlineSmall', sans-serif;
    color: #202020;
}

.forget-pass:hover {
    color: #E75A7A;
}

.last-form {
    margin: 1.5rem 0;
}


/* Hide the browser's default checkbox */
.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: .2rem;
    left: -.3rem;
    height: 1.07rem;
    width: 1.07rem;
    border-radius: 3px;
    background-color: #fff;
    border: 2px solid #E2E2E2;
}

.checkbox-wrapper .checkmark::after {
    left: .22rem;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid #EB3F66;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-wrapper:hover input ~ .checkmark {
    background-color: #FCE7E7;
}

.checkbox-wrapper input:checked ~ .checkmark {
    background-color: #ffffff;
}

.checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/*---------- Forget Password Style ---------*/

#forgetPassword .left-section {
    padding-left: 13%;
}

#forgetPassword .left-icon-section {
    padding-left: 1.5%;
}

#forgetPassword .custom-link {
    font-size: .875rem;
    color: #404040 !important;
}

#forgetPassword .custom-link:hover, #forgetPassword .custom-link:focus {
    color: #E75A7A !important;
    text-decoration: none;
}

#forgetPassword .icon {
    color: #EB3F66;
    padding-right: 1rem;
}

#forgetPassword .form-group--custom input {
    height: 2.875rem;
    width: 76%;
    border-radius: 7px;
}

#forgetPassword .forget {
    font-size: 1.5625rem;
}

#forgetPassword .newPassword {
    font-size: .875rem;
}

#forgetPassword .right-section {
    text-align: center;
}


/*--------- best mery style ----------*/


#best-mery .mery-header {
    text-align: center;
    font-size: 1.5625rem;
    margin-top: 2.6rem;
}

#best-mery .line {
    width: 6rem;
    height: 4px;
    background-color: #EB3F66;
    border-radius: 20px;
}

#best-mery .radial-line {
    border: 5px solid #EB3F66;
    width: 140px;
    padding: 0.5em;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    /* border-top-color: transparent; */
    height: 100px;
    border-top: unset;
    margin-top: -80px;


}

#best-mery .form-group--custom {
    width: 30%;
}

#best-mery .form-group--custom button:hover, .best-mery .form-group--custom button:focus {
    background-color: white;
    color: #EB3F66 !important;
    border: 2px solid #EB3F66;
}

#best-mery .name {
    font-size: 1.375rem;
    font-family: 'DuCoHeadlineMedium', sans-serif;
    text-align: center;
}

#best-mery .stars {
    color: #EB3F66;
}

#best-mery .age {
    font-size: 1rem;
    font-family: 'DuCoHeadlineSmall', sans-serif;
    color: #202020;
    text-align: center;
}

/*-------- slick Slider --------*/


.sliderSlider {
    position: relative;
}

.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 90%;
    margin-top: 50px;
    opacity: .5;
}


div.slide.slick-slide.slick-current.slick-active.slick-center img {
    transform: scale(1.5, 1.5);
    margin-bottom: 50px;
    opacity: 1;
    object-fit: cover;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.prev, .next {
    display: none;
    position: absolute;
    top: 40%;
    color: #202020;
    cursor: pointer;
}

.prev:hover, .next:hover {
    color: rgba(0, 0, 0, .6);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/*-------------- Home Page Style ----------*/
#started-section, #want-mery, #services-section {
    background-color: rgba(255, 255, 255, .92);
    left: 11%;
    bottom: 7%;
    width: 80%;
    margin: auto;
}


.main-heading {
    font-size: 1.5625rem;
}

.line {
    height: 4px;
    background-color: #E75A7A;
    width: 5.62rem;
    border-radius: 5px;
    margin-left: 3rem;
    margin-top: .75rem;
}

#started-section .right-heading, .main-heading {
    padding-top: 1.37rem;
}

#started-section .mobile-header {
    display: none;
}

#started-section .right-heading {
    line-height: .9;
}

#started-section .text-red {
    color: #EB3F66;
}

#started-section .text-blue {
    color: #1CB6C5;
}

#started-section .right-heading p, #started-section .media-body small {
    font-size: .875rem;
    color: #202020;
}

#started-section .row-wrapper {
    width: 95%;
    margin: 0 auto;
}

#started-section .media-custom {
    margin-top: 2.5rem;
}

#started-section .left-side {
    border-right: 1px solid #B9B9B9;
}

#started-section .media-btn {
    margin-bottom: 3.8rem;
    margin-top: 1.4rem;
}

#started-section .media-body h4 {
    margin-top: 2rem;
    color: #202020;
    line-height: .5;
    font-size: 1.37rem;
}

#started-section .media-body small {
    font-family: 'DuCoHeadlineSmall', sans-serif;
}


#started-section .btn-find {
    width: 21.4rem;
}

#started-section .btn-primary--custom {
    background-color: #1CB6C5;
    color: #ffffff !important;
    font-size: 1.25rem;
    font-family: 'DuCoHeadlineMedium', sans-serif;
    transition: all .6s ease;
    border: 2px solid #1CB6C5;

}

#started-section .btn-primary--custom:hover, #started-section .btn-primary--custom:focus {
    background-color: #fff;
    color: #1CB6C5 !important;
    border: 2px solid #138f9c;
}

#started-section .custom-link {
    color: #202020;
}

#started-section .custom-link:hover, #started-sectionsection .custom-link:focus {
    color: #979292;
    text-decoration: none;
}


/*--------- I Want mery page style ---------*/

#want-mery .start {
    padding-top: 1.7rem;
    font-size: .875rem;
    padding-left: 12%;
}

#want-mery .custom-row {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#want-mery .mobile-link {
    display: none;
}

#find-mery-modal .modal-dialog {
    transform: translate(0, 50vh);
}

#want-mery .model-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -2rem;
}

#want-mery .model-wrapper img {
    border: 4px solid #fff;
    border-radius: 50%;
}

#want-mery #find-mery-modal .btn-options {
    margin-bottom: 1.5rem;
}

#want-mery #find-mery-modal .btn-danger--custom {
    border-radius: 1.25rem;
    width: 50%;
    font-size: 1rem;
}


#want-mery #find-mery-modal .modal-p {
    margin-top: 1.5rem;
    margin-bottom: 1.8125rem;
}

#want-mery .main-heading {
    margin-left: 15%;
}

#want-mery .line {
    margin-left: 35%;
}

#want-mery .icon {
    padding-left: 12%;
    color: #EB3F66;
}

#want-mery .right-heading {
    padding-top: 1.37rem;
}

#want-mery .row-wrapper {
    width: 90%;
    margin: 0 auto;
}


#want-mery .img-wrap {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    padding-top: 12px;
    border: 2px solid #E8E8E8;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
}

#want-mery a {
    color: #202020;
}

#want-mery .img-paragraph {
    font-size: .875rem;
    width: 85%;
    margin-top: 5%;
}

#want-mery .img-paragraph.p {
    margin-bottom: 1.4rem;
}

#want-mery .image {
    margin: auto;
    justify-content: center;
    display: flex;
}


#want-mery .middle-line {
    width: 100%;
    height: 2px;
    background-color: #E8E8E8;
    margin: auto;
}

#want-mery .line-right {
    border-right: 2px solid #E8E8E8;
    height: 100%;
}

#want-mery .bottom {
    padding-top: 13%;
}


/*----------- Services Header style ----------- */

#services-section {
    bottom: 10%;
}

#services-section .row-wrapper {
    width: 70%;
    margin: 0 auto;
}

#services-section .line {
    margin: 0 auto 1.937rem auto;
}

#services-section .media {
    margin-top: .5rem;
    padding: 1rem;
}

#services-section .media-img {
    margin-right: 1rem;
}

#services-section .media-body h4 {
    font-size: 1rem;
    color: #202020;
    margin-top: 1.5rem;
    line-height: 1.2;
}


#services-section .services-row {
    margin-bottom: .5rem;
    padding-bottom: 1.5rem;
}


#services-section h4:hover, #want-mery .img-paragraph:hover {
    color: #E75A7A;
}

#services-section a:hover, #service-section a:focus, #want-mery a:hover, #want-mery a:focus {
    text-decoration: none;
    color: #E75A7A;
}

#services-section .col-custom {
    border-top: 2px solid #E8E8E8;
    border-right: 2px solid #E8E8E8;
    padding-right: 0;

}

#services-section .col-custom--1 {
    border-right: 2px solid #E8E8E8;
}

#services-section .col-custom--1:nth-child(3) {
    border-right: none;
}


#services-section .col-custom:last-child {
    border-bottom: none;
    border-right: none;
}

.footer-modified .app {
    width: 35%;
    margin: 0;
}


/*---------- Notification Style ----------*/

.line--1 {
    height: 4px;
    background-color: #E75A7A;
    width: 6rem;
    border-radius: 5px;
    margin-bottom: 1.68rem;

}

#notification .nav-pills .nav-link.active {
    background-color: unset !important;
    border-bottom: 2px solid #EB3F66;
    color: #EB3F66;
    border-radius: unset;

}

#notification .nav-pills .nav-link {
    color: #1F2026;
    font-size: 1.125rem;
    border-bottom: 2px solid #ECECEC;

}

#notification .navigation {
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 12%;
}


#notification .righ-line {
    width: 2px;
    height: 62%;
    background-color: #ECECEC;
}

#notification .mery-heba, #notification .paragraph {
    font-size: 1rem;
}

#notification .age {
    font-size: .75rem;
    color: #C2C2C2;
}

#notification .media {
    border: 2px solid #DBDBDB;
    padding: 2%;
    border-radius: 10px;
}

#notification .media:last-of-type {
    margin-bottom: 6rem;
}


/*-------------- Job Posts Page Style --------*/

.job-posts {
    font-size: 1.5624rem;
    margin-top: 2.62rem;
}

.job-header {
    width: 80%;
    margin: auto;
}

.posts .media {
    padding: 2%;
}


/*--- Search bar style ---*/

.search-bar .form-group--custom {
    margin-bottom: 0;
    width: 50%;
}

.search-bar .input-group-text, .search-input {
    border: none;
    background-color: #fff;
}

.search-bar .input-group-text .left-text {
    padding-right: .5rem;
    border-right: 1px solid #E8E8E8;
    color: #1F2026;
}

.search-bar .input-group-text .right-text {
    padding-left: .5rem;
    /*margin-right: 2rem;*/

}

#page-content .inp {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.inp-l {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.search-bar {
    padding: .5rem 2rem;
    background-color: #F5F5F5;
    border-radius: 7px;
    /*margin-bottom: 2.06rem;*/
    width: 80%;
    margin: auto 10%;
}

.search-input:focus {
    box-shadow: none;
}

.search-bar input::placeholder {
    font-size: .75rem;
    line-height: 1.5;
    height: auto;
}

.btn-search {
    background-color: #E75A7A;
    border-radius: 7px;
    height: 1.875rem;
    width: 5.1rem;
    position: relative;
    top: .21rem;
    left: -2rem;
}

.btn-search .btn-text {
    color: #fff !important;
    position: absolute;
    top: 0;
    left: 20%;
}

.btn-search .btn-text:hover {
    text-decoration: none;
}


/*--------------- Job post Style ---------------*/

.job-wrapper {
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 72%;
    position: relative;
    padding-bottom: 0 !important;
    margin-top: .75rem !important;
}

.posts .job-wrapper:first-of-type {
    border: 1px solid #E75A7A;
    margin-top: 2rem !important;

}

.job-wrapper .job-title {
    font-size: 1rem;
    color: #202020;
    margin-bottom: 0;

}

.job-wrapper .post-time {
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: .75rem;
    color: #C2C2C2;
}

.job-wrapper .job-location {
    font-size: .875rem;
    color: #1F2026;
    opacity: .5;
}


.job-wrapper .job-duration {
    font-size: .875rem;
    color: #1F2026;
    margin-bottom: 0;
}

.job-wrapper .dur {
    color: #1CB6C5;
    padding-right: 1rem;
}

.job-wrapper .job-description {
    font-size: 1rem;
    color: #202020;
    width: 55%;
}

.job-wrapper .more {
    font-size: .875rem;
    padding-bottom: 2rem;
    display: inline-block;
    color: #EB3F66 !important;
}

.job-wrapper .more:hover, .job-wrapper .more:focus {
    text-decoration: none;
    color: #F58AA2 !important;
}

.more img {
    margin-left: .8rem;
}

.posts .job-wrapper:last-of-type {
    margin-bottom: 4.71rem;

}


/*------------ pagination style --------------*/

.nav-pagination {
    background-color: #F5F5F5;
    height: 3.25rem;
    width: 76%;
}

.page-link {
    border: none;
    font-size: .875rem;
    color: #1F2026;
    top: 25%;
}

.page-link {
    background-color: #F5F5F5;
}

.pagination .page-item:last-child .page-link:last-of-type {
    background-color: #E5E5E5;
}

.page-link:focus {
    box-shadow: none;
}

.page-item.active .page-link {
    color: #1F2026;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #EB3F66;
}


/*Filter posts page style */
.filter-bar .left-text, .filter-bar .right-text {
    padding-right: .5rem;
    border-right: 1px solid #E8E8E8;
    color: #1F2026;
}

.filter-bar .input-group-text.filter-box {
    color: #fff;
    background-color: #1CB6C5;
    width: 60%;
    padding-right: 1.3rem;
    border-radius: 7px !important;

}

.filter-section .job-wrapper {
    width: 100%;
}


.filter-bar .input-group-text .right-text {
    padding-left: .5rem;
    margin-right: 2rem;
    border: none;
    font-size: .75rem;
    color: #FFFFFF;

}

.filter-bar .prepend-width {
    background-color: #FFFFFF;
}


.filter-bar .inp-l {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

/*------------ pagination style --------------*/

.posts-section .nav-pagination {
    width: 100%;
}

/*Aside Style */

.aside-wrapper {
    padding-right: 0;
    padding-left: 0;
    height: auto;
}

.posts-section aside {
    background-color: #F5F5F5;
    margin-top: .2rem;
    width: 100%;
    position: relative;
    padding-bottom: 85px;
}

.label-text, .skills-label {
    font-size: 1.125rem;
    color: #1F2026;
}


.posts-section .form-select, .skills-label {
    padding-left: .5rem;
    padding-right: .5rem;
}

.line-hor {
    border: 1px solid #707070;
    opacity: .33;
    margin-bottom: .3rem;
}

.posts-section aside .form-select:first-of-type {
    padding-top: 1.3rem;
}

.posts-section select {
    color: #1F2026;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, fallback first */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../img/down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}

.posts-section select:focus {
    box-shadow: none;
}

.posts-section .checkmark {
    left: unset;
    right: 1rem;
}

.posts-section .checkbox-wrapper {
    margin-bottom: .5rem;
}

.posts-section .skill-text {
    font-size: .875rem;
    color: #1F2026;
}


.posts-section .btn-custom {
    position: absolute;
    bottom: 1.3rem;
}

.posts-section .btn-default {
    right: 2.5rem;
}

.posts-section .btn-red {
    left: 2rem;
    background-color: #EB3F66;
    color: #FFFFFF;
    width: 40%;
    border: 2px solid #EB3F66;

}

.btn-default:focus, .btn-red:focus {
    box-shadow: none;
}

.btn-red:hover, .btn-red:focus {
    background-color: #FFFFFF;
    color: #E75A7A;
}

.btn-default:hover, .btn-default:focus {
    background-color: #E8E8E8;
    color: #51535B;
}


.search-bar .input-group-text.filter-box {
    color: #1F2026;
    background-color: #F5F5F5;
    width: 60%;
    margin-right: 3rem;
    padding-right: 1.5rem;
    border-radius: 7px !important;
    height: 2rem;
    margin-top: .2rem;
}

.search-bar .input-group-text.toggle-color {
    color: #fff !important;
    background-color: #1CB6C5;
}

.search-bar .input-group-text.toggle-color span {
    color: #FFFFFF;
}

.search-bar .prepend-width {
    background-color: #FFFFFF;
}

.search-bar .ver-line {
    position: absolute;
    border-right: 1px solid;
    top: .5rem;
    right: 8rem;
    color: #e2e3e5;
}

.posts .job-width {
    width: 100%;
}

/*---------- Find mery Page Style  --------*/

.posts-section .mery-stauts {
    color: #1F2026;
    font-size: .75rem;
    line-height: 1.8;
}

.posts-section .online .fa-circle {
    color: #5ED179;
    margin-left: .5rem;
}

.posts-section .offline .fa-circle {
    color: #E8E8E8;
    margin-left: .5rem;
}

.posts-section .custom-link {
    color: #1F2026;
}

.posts-section .custom-link:hover {
    text-decoration: none;
    opacity: .8;
}

/*-------- Profile Page Style ----------*/

#profile-section .main-heading {
    text-align: center;
}

#profile-section .line {
    margin: 0 auto 1.5rem auto;
}

#profile-section {
    width: 80%;
    margin: auto;
}

#profile-section .profile-id {
    font-size: 1.375rem;
}

#profile-section .profile-picture {
    margin-right: 2.312rem;
    cursor: pointer;
}

#profile-section .location {
    font-size: 1.25rem;
    opacity: .5;
    padding-left: .5rem;
}

#profile-section .location-icon {
    padding-bottom: .2rem;
}

#profile-section .profile-about {
    font-size: 1.25rem;
    color: #EB3F66;
}

#profile-section .profile-list {
    margin-top: 4rem;
}

#profile-section .profile-stars {
    margin: .5rem 0;
    color: #E75A7A;
    font-size: .875em;
}

#profile-section .fa-star {
    margin-right: .18rem;
}


#profile-section .list li {
    margin-bottom: .5rem;
}

#profile-section .list-item.list-item-active img {
    transform: rotate(90deg);
}

#profile-section .list .list-item-text {
    text-decoration: none;
    font-size: 1.375rem;
    color: #1F2026;
    padding-left: .5rem;
}

#profile-section .list li.paddingLeft1 {
    padding-left: 4rem;
    margin-bottom: .5rem;
    cursor: pointer;

}

#profile-section .media-info {
    margin-top: 1.5rem;
}


#profile-section .card-wrapper {
    width: 85%;
    margin: auto;
}

#profile-section .card-wrapper img {
    width: 100%;
}



/*--------- Information Section Style ---------*/
.resume {
    background-color: #F5F5F5;
    border-radius: 3px;
    margin: auto auto 1.5rem auto;
    border: 1px solid rgba(112, 112, 112, .3);
    padding-top: 4%;
}

.resume .text {
    margin-top: 2.62rem;
    font-size: 1.5625rem;

}

.resume .line--1 {
    height: 4px;
    background-color: #E75A7A;
    width: 6rem;
    border-radius: 5px;
    margin-bottom: 1.68rem;
}

.resume .resume-form {
    position: relative;
    margin-bottom: 1rem;
}


.resume .form-group {
    background-color: #F5F5F5;
    padding: 2px 0;
    border-radius: 5px;
    border: 1px solid #D9D9D9;

}


.resume .col-form-label {
    width: 40%;
    margin: auto;
    padding-left: 1%;
}

.resume .input-field {
    width: 55%;
    margin: auto;

}

.resume .col-form-label--custom {
    width: 46%;
    margin: auto 0 auto auto;

}

.resume .input-field--custom {
    width: 45%;
    margin: auto auto auto 1%;
}


.resume .input-group.group1 {
    display: inline-flex;
    width: 28.5%;
    margin-left: 6.5%;
}


.resume .input-group.group2 {
    display: inline-flex;
    width: 28.5%;
}

.resume .input-group-text {
    background-color: white;
    border: unset;
}

.resume .form-control {
    border: none;

}

.resume .form-control:focus {
    box-shadow: none;
}

.resume .row {
    margin-left: unset;
    margin-right: unset;
}

.resume .group1 {
    padding-left: unset;
    padding-right: unset;
}

.resume .group2 {
    padding-left: 7px;
    padding-right: unset;
}

.resume .gender {
    background-color: white;
    padding-left: 13%;
    border-radius: 5px;
    vertical-align: middle;
}

.resume .check-wrapper {
    margin-bottom: 0;

}

.resume .male-box {
    margin-left: .6rem;
}

.resume .check-inline {
    padding: .5rem;
    font-size: .875rem;
}


select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, fallback first */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../img/down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}

.resume select:focus {
    box-shadow: none;
}


.resume .col-form-label {
    font-size: 1.125rem !important;
}

.resume .input-group-prepend {
    background-color: #fff;
    padding: .4rem 0;
    border: 1px solid #DBDBDB;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.resume .right-text {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    border-left: 1px solid #E8E8E8;
}

.resume .salary-box {
    border-right: none;

}

.resume .btn-save {
    bottom: -4.5rem;
    right: 0;
    width: 50%;
    margin-left: 50%;
}

.resume .btn-danger--custom {
    width: 100%;
    border: 2px solid #E75A7A;
    font-size: 1rem;
}


.resume .custom-select {
    top: 0;
    border: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.resume .mobile-number {
    border-left: none !important;
    border-bottom-left-radius: unset !important;
    border-top-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
}



.resume .custom-select:focus {
    box-shadow: unset;
    border-color: #E2E2E2;
}

.resume .select::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    top: 20%;
    left: 100%;
}
.custom-file-inpt {
    color: transparent;
    width: 7rem;
}
.custom-file-inpt::-webkit-file-upload-button {
    display: none;
}
.changePhoto {
    content: 'Change Photo';
    color: #1CB6C5;
    font-size: 1rem;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}
.changePhoto:hover {
    box-shadow: unset;
    border: none;
    color: #138f9c;
}

.custom-file-inpt:focus {
    box-shadow: unset ;
    border: unset;
    outline: none;
}


/*------ Referral style --------*/

.referral, .job-applied {
    background-color: #F5F5F5;
    border-radius: 3px;
    padding-top: 2.37rem;
    margin: auto auto 1.5rem auto;
    border: 1px solid rgba(112, 112, 112, .3);
}


.referral .referral-wrapper {
    width: 50%;
    padding-left: 2rem;
}

.referral .referral-header {
    font-size: 2.312rem;
    color: #1F2026;
}

.referral .referral-description {
    font-size: .75rem;
    color: #1F2026;
    opacity: .8;
    width: 70%;
    padding-left: 1.5rem;
    margin-bottom: 1.937rem;
}

.referral .form-label {
    font-size: 1.25rem;
}

.referral .input-field--link {
    width: 75%;
}

.referral .input-field--link .form-control::placeholder {
    color: #1F2026;
    font-size: 1rem;
}


.referral .btn-danger--custom {
    width: 50%;
    height: 3.125rem;
    margin-top: 2.16rem;
    margin-bottom: 6rem;
}


/*-------- Job Applied Section --------*/
.job-applied {
    padding-top: 1.562rem;
}


.job-applied .content-wrapper {
    width: 90%;
    margin: auto;
}

.job-applied .content-wrapper--1 {
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin-bottom: .375rem;
}

.job-applied .content-wrapper--1 div {
    padding: .625rem 0;
}

.content-wrapper--1 p {
    margin-bottom: 0;
    padding-left: .7rem;
}


.job-applied .job-head {
    font-size: 1rem;
    color: #1F2026;
    opacity: .5;
}

.job-applied hr {
    margin-top: 0;
}

.job-applied .job-title {
    font-size: 1rem;
    color: #202020;
}

.job-applied .job-content, .job-status {
    font-size: .875rem;
    color: #1F2026;
}

.job-applied .job-status {
    color: #EB3F66;
}

.job-applied .content-wrapper--1:last-of-type {
    margin-bottom: 10rem;
}


/*-------- Job details Section --------*/


#job-details {

    margin-left: 3%;
}

#job-details .job-post {
    background-color: #f4f3f2;
    width: 97%;
    margin-left: 1%;
    border-radius: 4px;
    padding-left: 2%;
    padding-top: 1.5%;
}

#job-details .icon {
    color: #EB3F66;
    padding-right: 1.5%;
}

#job-details .text {
    font-size: .875rem;
}


#job-details .job-details {
    font-size: 1.5624rem;
    margin-top: 2.62rem;
}

#job-details .line--1 {
    height: 4px;
    background-color: #E75A7A;
    width: 6rem;
    border-radius: 5px;


}

#job-details .time {
    font-size: .75rem;
    color: #C2C2C2;
    margin-left: 7%;
    padding-top: 2%;
}

#job-details .media {
    margin-top: .5rem;
    padding: 1rem;
    padding-top: 0%;
}

#job-details .title {
    font-size: 1.25rem;
}


#job-details .right-line {
    width: 2px;
    height: 51px;
    background-color: #B2B2B2;
    margin-left: 5%;
    margin-right: 5%;

}

#job-details .section {
    width: 39%;
    background-color: #F5F5F5;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    border-radius: 8px;
}

#job-details .titleJob {
    font-size: .8754rem;
}

#job-details .date {
    margin-right: 7px;
    color: #A2A2A2;
}

#job-details .section3 {
    width: 39%;
    border: 2px solid #F5F5F5;
    border-radius: 8px;
    height: 8%;
    padding-top: 1%;
}


#job-details .rs {
    float: right;
    color: #E75A7A;
}

#job-details .applyJob {
    width: 150px;
    font-size: 1rem;
}

#job-details .created {
    color: #1CB6C5;
}


#job-details .name, #job-details .location {
    font-size: .875rem;
}

#job-details .location {
    color: #707070;
}

#job-details .map {
    color: #707070;
}

#job-details .all {
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}


/*-------- employer post job style ----------*/

#employer-posts-section .job-sub-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#employer-posts-section .job-wrapper {
    width: 100%;
}

#employer-posts-section .job-wrapper .hr {
    padding-left: 1rem;
}

#employer-posts-section .perHour {
    color: #1CB6C5;
}

#employer-posts-section .job-wrapper .job-description {
    width: 36%;
}


/*------ Public Profile Style -----*/

.public-profile .hire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.public-profile .btn-danger--custom {
    width: 20%;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#profile-section.public-profile .profile-stars {
    font-size: 1.05em;
    margin-top: .7rem;
}

#profile-section.public-profile .media {
    margin-bottom: 3rem;
}

.public-profile .label-group {
    display: flex;
    padding: .6rem 0;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    margin-bottom: .8125rem;
}

.public-profile .info-label {
    font-size: 1.125rem;
    width: 40%;
    margin: auto;
    border-right: 1px solid #CBCBCB;
}

.public-profile .info-value {
    width: 43%;
    margin: auto;
}


/*----- ADD Post Page Style ------*/

.top-head {
    margin-top: 4rem;
}

.breadcrumb {
    margin-bottom: 0;
    border: none;
    background-color: unset;
    padding: unset;
}

.paginate-header {
    font-size: .875rem;
    display: inline-block;
    padding: 0 1rem;
    line-height: 1rem;
}

.header-wrap {
    margin-bottom: 1rem;
    background-color: #F5F5F5;
    padding: .9rem 1.375rem;
    border-radius: .5rem;
}

.header-wrap .custom-link, .about-header .custom-link {
    color: #404040;
}

.header-wrap .custom-link:hover, .about-header .custom-link:hover {
    text-decoration: none;
    color: #E75A7A;
}

.page-header {
    justify-content: space-between;
}

.page-header .line {
    margin-left: 0;
    margin-bottom: 3rem;
}


ol.progress-meter {
    list-style-type: none;
}

ol.progress-meter li {
    display: inline-block;
    border: 10px solid #FCFCFC;
    padding: .3rem 1rem;
    border-radius: 50%;
    background-color: #EEEEEE;
    color: #1F2026;
    margin-top: .5rem;
    margin-right: 7.8rem;
    position: relative;

}

ol.progress-meter li:last-of-type {
    margin-right: 4rem;
}

ol.progress-meter li::before {
    content: '';
    position: absolute;
    top: 1.2em;
    left: -10em;
    width: 10em;
    height: .2em;
    background: #F5F5F5;
    z-index: -1;
}

ol.progress-meter li:first-child::before {
    display: none;
}


ol.progress-meter li.done {
    background-color: #EB3F66;
    color: #FFFFFF;
}

ol.progress-meter li .steps {
    font-size: 1.12rem;
    line-height: 2rem;
}



/*--------- Add job - form style -----------*/


.add-post .form-group, .payment .form-group {
    background-color: #F5F5F5;
    padding: .25rem 0;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    margin-bottom: .5rem;
}


.add-post .col-form-label, .payment .col-form-label {
    width: 40%;
    margin: 0;
    padding-left: 5%;
    font-size: 1.125rem;
}

.add-post .category {
    width: 59%;
    margin: auto;
}

.add-post .row {
    margin-left: unset;
    margin-right: unset;
}

.add-post .gender {
    background-color: white;
    padding-left: 13%;
    border-radius: 5px;
    vertical-align: middle;
}


.add-post .group1 {
    padding-left: unset;
    padding-right: unset;
}

.add-post .group2 {
    padding-left: 7px;
    padding-right: unset;
}


.add-post .category-option {
    background-color: white;
    padding-left: 1.2rem;
    width: 9rem;
    padding-top: .4rem;
    border-radius: 5px;
    vertical-align: middle;
}

.add-post .category-option .check-inline {
    font-size: 1rem;
}

.add-post .col-width .form-select select {
    color: #8F8F92;
}

.add-post .check-wrapper {
    margin-bottom: 10px;
    margin-top: 10px;
}

.add-post .option-1:checked ~ .options, .add-post .option-2:checked ~ .options {
    color: #EB3F66;
}

.add-post .custom-filed {
    width: 58%;
}

.add-post .col--6 {
    padding-left: 1.3rem;
}

.payment-page .custom-filed input, .payment-page .custom-filed textarea, .payment-page .custom-filed select {
    border: none;
}

.add-post .custom-filed .btn-danger--custom {
    border: 2px solid #EB3F66;
}

.add-post .custom-filed input {
    height: 2.625rem;
}

.custom-filed input:focus, .custom-filed textarea:focus, .custom-filed select:focus {
    box-shadow: 0 0 0 0.2rem #FFC8D4;
}

.add-post .custom-filed input::placeholder, .custom-filed textarea::placeholder {
    font-size: .875rem;
    color: #1F2026;
    opacity: .5;
}

.add-post textarea {
    height: 9.5rem;
}


.add-post .input-group-prepend {
    background-color: #FFFFFF;
    padding: .5rem 0;
}

.add-post .prepend-text {
    border-left: 1px solid #e2e3e5;
    color: #1F2026;
    padding: 0 1rem;
}

.add-post .form-group--file {
    display: flex;
    justify-content: space-between;
}

.add-post .col-form-label--1 {
    width: 50%;
}

.add-post .form-group--file .btn-find {
    margin-right: 1rem;
    padding: .475rem 2.7rem;
    margin-bottom: 0;
    background-color: #1CB6C5;
    color: #FFFFFF;
    cursor: pointer;
}


.add-post .form-group:last-of-type {
    margin-top: 3.62rem;
    background-color: #FFFFFF;
    border: none;
}

.add-post .btn-danger--custom {
    font-size: 1rem;

}


.add-post .sub-section {
    width: 75%;
    margin: auto;
}

.add-post .sub-section p:first-of-type {
    margin-top: 1rem;
}

.add-post .sub-section p:last-of-type {
    margin-top: 10rem;
}

.add-post .sub-section p:nth-child(odd) {
    margin-bottom: 6.5rem;
}

.add-post .sub-section p:nth-child(even) {
    margin-bottom: 5rem;
}

/*----------- Payment Section Style -----------*/
.payment {
    margin-bottom: 33rem;
}

.payment .payment-method {
    font-size: 1.375rem;
    color: #1F2026;
    opacity: .81;
}

.payment .payment-wrapper {
    width: 85%;
    margin: auto;
}

.payment .form-group:nth-child(4), .payment .form-group:last-of-type {
    background-color: unset;
    border: none;
}

.payment .form-group {
    margin-left: 1%;
    margin-bottom: .687rem;
}

.payment .form-group:last-of-type {
    margin-left: -10%;
    margin-top: 4.06rem;
}

.payment .form-group:first-of-type {
    width: 75%;
}

.payment .col-form-label {
    width: 45%;
}

.payment .col-label {
    width: 62%
}


.payment .custom-filed {
    width: 53%;
}

.payment .cvc-field {
    width: 35%;
}

.payment .exp-text {
    padding-left: 0;
    font-size: 1.25rem;
    margin-top: 1.68rem;
    margin-bottom: 1.28rem;
}

.payment .select-filed {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.payment .select-date {
    width: 55%;
}

.payment .select-filed select:last-of-type {
    width: 80%;
    margin-right: 0;
}

.payment select {
    font-family: 'Montserrat', sans-serif;

    border: 1.32px solid #D9D9D9;
    border-radius: 7.5px;
    margin-right: 2rem;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) #F5F5F5 no-repeat 98.5% !important;
    background: url(../img/down.png) #F5F5F5 no-repeat calc(100% - 10px) !important;

}

.payment .submit-filed {
    width: 80%;

}

.payment .submit-filed input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2375rem;
    height: 3.5rem;
    letter-spacing: 0;

}

.payment .sub-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment .method-wrapper {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3.2rem;
}

.payment .check-circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 3px;
    border: 3px solid #E2E2E2;
    background-color: #FFFFFF;
    border-radius: 50%;
}


.payment .label-box {
    display: block;
    width: 13rem;
    margin-right: 1.4rem;

}

.payment .box {
    padding: 1rem 0 .5rem 0;
}

.payment .label-box > input {
    visibility: hidden;
    position: absolute;
}

.payment .label-box > input + div { /* DIV STYLES */
    cursor: pointer;
    background-color: #F5F5F5;
    border-radius: 7px;
}

.payment .label-box > input:checked + div { /* (RADIO CHECKED) DIV STYLES */
    background-color: #EB3F66;
    color: #FFFFFF;
}

.payment .label-box > input:checked + div .check-circle {
    background-color: #E75A7A;

}

/*Success Page Style */

.success-payment {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success-payment .fa-success {
    color: #1CB6C5;
    font-size: 7em;
    line-height: 2rem;
}

.success-payment .success-head {
    font-size: 1.875rem;
    color: #202020;
    margin: 1.2rem 0;
    line-height: 1.2;
}

.success-payment p {
    font-size: 1.125rem;
}

.success-payment .end {
    margin-top: 4.4rem;
    margin-bottom: 6rem;
}

.success-payment .end .btn-danger--custom {
    width: 22rem;
}

/*------- About us --------*/
.about-us .about-header {
    margin-top: 2.6875rem;
    position: relative;
}

.about-us .breadcrumb {
    position: absolute;
    left: 1rem;
}

.about-us .about-img {
    margin-top: 3.156rem;
    margin-bottom: 3rem;
}

.about-us img {
    width: 100%;
}

.about-us .about-heading {
    color: #E75A7A;
    font-family: 'DuCoHeadlineLarge', sans-serif;
    font-size: 2.1875rem;
    margin-bottom: 1.5625rem;
}

.about-us .sub-heading {
    font-size: 1.5625rem;
    color: #171717;
}

.about-us .about-pargraph {
    font-size: 1.25rem;
    color: #707070;
    margin-bottom: 4.1875rem;
}

.about-us .sub-pargraph {
    width: 45%;
}

.about-us .social-icon {
    margin-top: 8.25rem;
    margin-bottom: 10rem;
}

.about-us .social-icon .subscribe-icon {
    color: #908F8F;
    font-size: 1.5em;
}

.about-us .social-icon a .fa-facebook-square:hover {
    color: #4267B2;
}

.about-us .social-icon a .fa-twitter:hover {
    color: #1DA1F2;
}

.about-us .social-icon a .fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    color: transparent;

}

.about-us .social-icon a .fa-youtube:hover {
    color: #FF0000;
}

.about-us .social-icon a .fa-google-plus-g:hover {
    color: #DD5144;
}

.about-us .social-icon a .fa-pinterest-p:hover {
    color: #E60023;
}

/*-------- footer style ----------*/

#page-footer {
    position: relative;
    margin-top: 5.37rem;
}

.main-footer {
    background-color: #F5F5F5;
    padding: 5.25rem 0;
    margin-bottom: .625rem;
}

.app {
    width: 80%;
    margin: 0 auto;
}

.app .app-btn {
    width: 100%;
    margin-bottom: 1rem;
}

.list-heading {
    color: #111111;
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    text-align: left;
}

.list-unstyled li {
    text-align: left;
}

.language-form, .form-select option, .nav-link--footer {
    font-family: 'Muli', sans-serif;
    font-size: .81rem;
    font-weight: 300;
    color: #000;
}


.footer-section--2 {
    margin-top: 1rem;
}

.language-form {
    font-weight: 600;

}

.nav-link--footer:hover {
    text-decoration: none;
    color: #565050;
}

.copyright {
    background-color: #1F2026;
    color: rgba(255, 255, 255, .5);
    padding: 2.18rem 0;
}


.up-arrow {
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -2.3rem;
    border: 1px solid #F6F6F6;
    left: 10%;

}

.up-arrow img {
    padding: 1.68rem 1.43rem;

}

.up-arrow a {
    color: #E75A7A !important;

}

.logo-wrapper {
    position: absolute;
    right: 10%;
    width: 3.77rem;
    height: 3.77rem;
}

.logo-wrapper img {
    width: 100%;
}

.subscribe-icon {
    color: rgba(255, 255, 255, .5);
    margin-right: 1rem;
}

/*job-detail-1*/
#employer-posts-section .job-wrapper:last-of-type{
    margin-bottom: 20rem;
}
body.modal-open {
    /*overflow: scroll;*/
    overflow-y: scroll;
    padding: 0 !important;
}


main.popup-section {
    position: relative;
    height: fit-content;
}


main.popup-section .modal {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 0 !important;
}

#largeModal div.modal-dialog {
    height: inherit;
    max-width: 85%;
    /* max-height: 100%; */
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
}

#largeModal div.modal-content {
    height: inherit;
    border: unset;
    border-radius: unset;
}

main.popup-section .modal-backdrop {
    width: 100%;
    height: 100%;
}

#largeModal .modal-header {
    border: unset;
    padding: .5rem 1rem;
}

#largeModal .close {
    opacity: 1;
}

#largeModal nav.modal-breadcrumb {
    z-index: 12;
    display: none;
}

#largeModal #job-details .right-line {
    margin-right: 3%;
    margin-left: 3%;
}

#largeModal .accepted-people {
    margin-top: 1.5rem;
    width: 90%;
}

#largeModal .modal-body {
    margin-top: -1rem;
}

#largeModal .accepted-people .media {
    padding: .5rem 1rem;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
}

#largeModal .accepted-people .media-body {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#largeModal .accepted-people .job-time {
    text-align: center;
    align-self: center;
}
#largeModal .accepted-people .job-location {
    font-size: .875rem;
    color: #8E8F92;
}

#largeModal .accepted-people .btn {
    width: 60%;
    justify-self: end;
}

#largeModal .p-hide {
    display: none;
}

/*------------- MEDIA -------------------*/

@media (min-width: 992px) and (max-width: 1200px) {

    /*---------- Service Section Style --------------*/
    #services-section {
        bottom: 5.5%;
    }


    #services-section .row-wrapper {
        width: 75%;
    }


    #services-section .media-custom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }

    #services-section .media-body h4 {
        margin-top: .5rem;
    }

    #services-section .media-img {
        margin-right: 0;
    }

    #services-section .login-header {
        padding-top: .5rem;
    }

    #services-section .services-row {
        margin-bottom: 0;
        padding-bottom: .9rem;
    }


    /*job posts page */
    .job-wrapper .job-description {
        width: 70%;
    }


    /*information section*/
    .resume .col-form-label {
        width: 35%;
    }

    .resume .check-wrapper {
        font-size: 1rem;
    }

    .resume .check-inline--2 {
        margin-right: 0;
    }

    .resume .input-field--custom {
        width: 40%;
    }

    .resume .col-form-label--custom {
        width: 54%;
    }

    #profile-section {
        width: 100%;
    }

    /*Referral Section Style */
    .referral .referral-description {
        width: 100%;
    }


    /*job details Section Style */
    #job-details .section3 {
        width: 46%;
    }

    #largeModal #job-details .section {
        width: 50%;
    }
    #employer-posts-section .job-wrapper:last-of-type {
        margin-bottom: 25rem;
    }

    #job-details .section {
        width: 46%;
    }


    /*------ Add post Page Style -----*/

    .add-post .col-form-label--1 {
        width: 60%;
    }


    #want-mery .row-wrapper {
        width: 100%;
    }

    #want-mery .services-row {
        margin-top: 1.5rem !important;
        margin-bottom: 2.5rem !important;
    }

    #want-mery .paginate-header {
        padding-left: .2rem;
    }

}


@media (min-width: 1200px) and (max-width: 1243px) {
    /*Login form*/
    #auth-section { /* for sign up form*/
        bottom: 5%;
    }
}

@media (max-width: 1200px) {

    /*------- navbar media Style -------------*/
    #top-nav .nav-item--custom {
        width: 5.6rem;
        height: 4.577rem;

    }

    #top-nav .nav-link--custom {
        font-size: .675rem;

    }

    #top-nav .nav-login {
        width: 10.5rem;
        height: 4.577rem;

    }

    #top-nav .nav-user {
        width: 15rem;
    }

    #top-nav .nav-signup {
        width: 10.5rem;
        height: 4.577rem;
    }

    #top-nav .nav-logout {
        width: 7rem;
    }

    #top-nav .nav-link--custom span {
        font-size: .65rem;
    }

    #top-nav .nav-logo {
        width: 4rem;
        height: 4rem;
        margin-left: 1rem;
    }


    /*--------- auth media Style ----------*/
    .check-wrapper {
        font-size: .75rem;
    }

    #auth-section .form-check-inline {
        margin-right: .75rem;
    }

    /*home page*/
    #started-section .btn-find {
        width: 18rem;
    }


    /*employee job posts*/
    #employer-posts-section .job-wrapper .job-description {
        width: 100%;
    }

    /*Public Profile */
    .public-profile .info-label {
        width: 42%;
    }
}


@media (max-width: 991.98px) {

    /*job-details-popup */

    #employer-posts-section .job-wrapper:last-of-type {
        margin-bottom: 30rem;
    }
    /*-------------- navbar media Style ---------------------------*/
    #top-nav .nav-login, #top-nav .nav-signup, #top-nav .nav-item--custom {
        width: 80%;
        height: 3rem;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid #96BABE;
        padding: .5rem 0;
        z-index: 5;

    }

    #top-nav .nav-link--custom {
        padding: 0 !important;
        font-size: .9rem;

    }

    #top-nav.pos {
        margin-top: 1rem;
    }

    #top-nav .nav-logo {
        width: 3.25rem;
        height: 3.25rem;
        top: 0;
    }

    #top-nav .nav-item--custom:last-child {
        margin-right: inherit;
    }

    #top-nav .nav-login a, #top-nav .nav-signup a {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #top-nav .nav-login .nav-login-link {
        padding-right: 0 !important;
    }

    #top-nav .nav-item--custom:hover {
        transform: translateY(0);
        box-shadow: none;
    }

    /*-------------- slider media Style -----------*/
    #slider.slide {
        margin-top: 0;
    }

    #slider .carousel-caption--custom {
        top: 20%;
    }

    #slider .carousel-item {
        background-image: url("../img/showCaseMobile.png");
        height: 34.5rem;
    }

    #slider .header-text h1 {
        text-align: left;
        font-size: 4.75rem;
        height: 6.5rem;
    }

    .carousel-indicators {
        bottom: -9%;
    }

    #slider .carousel-indicators li {
        background-color: #E6E6E6;
    }


    /*-------------- auth media Style ---------------*/
    #auth-section, #forgetPassword, #started-section, #want-mery, #services-section {
        position: relative;
        left: 0;
        right: 0;
        background-color: #FBFBFB;
        box-shadow: none;
        border-radius: unset;


    }

    .auth-header {
        text-align: center;
        padding-top: 10%;
        padding-left: 0 !important;
    }


    #auth-section .form-group--custom {
        margin-left: auto;
        margin-right: auto;
    }

    #auth-section .auth-nav {
        padding-top: 4%;
        padding-bottom: 6%;
    }

    #auth-section .form-check-inline {
        display: inline-block;
    }

    #auth-section .social {
        margin-bottom: 12%;
    }

    #auth-section .login-form {
        border-right: unset;
    }

    .flex-row .app {
        width: 50%;
        margin: .7rem auto;
    }

    .main-footer .app {
        width: 40%;
    }

    .main-footer .app:last-of-type {
        margin-bottom: 2rem;
    }


    /*------ best mery  --------*/
    #best-mery .name {
        font-size: .9rem;
        margin-top: 1rem;
    }

    /*-------- forget password media Style ----------*/
    #forgetPassword .left-icon-section {
        display: none;
    }

    #forgetPassword img {
        display: none;
    }

    #forgetPassword .left-section {
        padding-left: 2%;
        padding-top: 6%;
    }

    #forgetPassword .form-group--custom input {
        width: 100%;
    }

    #forgetPassword .forget {
        font-size: 1.625rem;
    }

    #forgetPassword .enterEmail {
        font-size: .875rem;
    }

    /*------- Home Page Style -------*/
    #started-section, #want-mery {
        width: 100%;
        margin: auto;
    }

    #want-mery .main-heading {
        margin-top: 1.78125rem;
        text-align: center;
        margin-left: 0;
    }

    #want-mery .start-over {
        display: none;
    }

    #started-section .main-heading {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 3%;
        padding-left: 0 !important;
    }

    .line {
        margin: 0 auto;
    }

    #started-section .row {
        margin: 0;
    }

    #started-section .col-custom {
        padding-left: 11.5rem;
    }

    .media-custom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }


    #started-section .left-side {
        margin-top: 2.5rem;
        border-right: none;
    }

    #started-section .right-side {
        border-top: 1px solid rgba(0, 0, 0, .2);
        padding-top: 2.5rem;
    }

    #started-section .media-body h4 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #started-section .media-btn {
        width: 45%;
        margin: 1.3rem auto 2rem auto;
        text-align: center;

    }

    #started-section .media-btn a {
        width: 75%;
    }


    /*-------- want mery style ----------*/
    #want-mery {
        padding-bottom: 3%;
    }

    #want-mery .custom-row {
        margin-top: 0;
    }

    #want-mery .start {
        font-size: .625rem;
        padding-left: 2%;
    }

    #want-mery .icon {
        font-size: 0.7rem;
    }

    #want-mery .line {
        margin-right: auto;
        margin-left: auto;
    }

    #want-mery .middle-line {
        display: none;
    }

    #want-mery .top {
        padding-top: 13%;
    }

    #want-mery .media {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    #want-mery .services-row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    #want-mery .line-right {
        border-right: unset;
    }

    #want-mery .line-sm-right {
        border-right: 2px solid #E8E8E8;
    }

    #want-mery .line-sm-bottom {
        border-bottom: 2px solid #E8E8E8;
    }

    #want-mery .img-paragraph {
        margin: auto;
        color: #202020;
        margin-bottom: 1.4rem;
    }

    #want-mery .col-6 {
        padding-left: unset;
        padding-right: unset;
    }


    /*--------- Services section style ---------*/
    #services-section {
        width: 100%;
        padding-bottom: 3%;
    }

    #service-section .main-heading {
        text-align: center;
        padding-top: 10%;
        padding-left: 0 !important;
        font-size: 1.8rem;
    }

    #services-section .col-custom {
        padding-left: 0;
    }


    #services-section .header-row {
        margin: 0;
    }

    #services-section .main-heading {
        text-align: center;
        padding-top: 10%;
        padding-left: 0 !important;
    }

    #services-section .col-custom--1:nth-child(4) {
        border-right: 2px solid #E8E8E8;
    }


    #services-section .col-custom--3 {
        border-left: none;
        border-bottom: none;
    }

    #services-section .col-custom--1 {
        border-right: 2px solid #E8E8E8;
    }


    #services-section .media {
        padding: .6rem;
    }

    #services-section .media-body h4 {
        margin-top: .5rem;
        font-size: 1.3rem;
    }

    #services-section .media-img {
        margin-right: 0;
    }


    /*-------- job Posts Page ------------*/
    .search-bar {
        width: 100%;
        margin: auto;
        border-radius: 0;
    }

    .search-bar .form-group--custom {
        width: 95%;
        margin: auto 0 auto auto;

    }

    .job-wrapper {
        width: 83%;
        margin: auto;
    }

    .job-wrapper .job-description {
        width: 85%;
    }

    .nav-pagination {
        margin: auto;
    }

    /*-------- job filter page --------*/
    .filter-options .form-group--custom:last-of-type {
        padding-bottom: 7rem;
    }


    /*Profile section style*/
    .hideShow {
        padding-left: unset;
        padding-right: unset;
    }


    #profile-section .main-heading {
        text-align: left;
        font-size: 1.5624rem;
    }

    #profile-section .line {
        margin: 0 1.5rem 0 0;
        width: 7rem;
    }

    .profile-picture {
        margin-right: 0;
    }
    #profile-section .profile-pic {
        display: flex;
        text-align: center;
        width: 70%;
        margin: 0 auto !important;
    }

    #profile-section .media, #profile-section .profile-pic {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;

    }

    #profile-section .media {
        margin: 2rem auto 0;
    }

    .card-side {
        background-image: unset;
    }

    #profile-section .media-info {
        text-align: center;
    }

    #profile-section .location {
        padding-left: 0;
    }



    #profile-section .profile-stars {
        justify-content: center;
        font-size: 1.33em;
    }

    #profile-section .fa-star {
        margin-right: 0;
    }

    /*----- Referral Section Style -----*/
    .referral .referral-description {
        width: 100%;
    }

    .referral .referral-header {
        font-size: 1.875rem;
    }

    /*job applied */
    .job-applied .job-title {
        padding-left: 2rem;
    }

    /*----------- job applied -------------*/
    .job-applied .job-title {
        padding-left: 2rem;
    }

    /*------------- employer job post -----------------*/
    #employer-posts-section .addNewJob {
        width: 26%;
        margin-left: 33%;
    }

    #employer-posts-section .add {
        display: none;
    }

    /*footer*/
    .footer-section--3 {
        padding-left: 10rem;
    }

    /*Public Profile Section*/
    #profile-section.public-profile .media {
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
        margin: 2rem;
    }

    #profile-section.public-profile .media-info {
        text-align: left;
    }

    #profile-section.public-profile .profile-stars {
        justify-content: unset;
    }

    .public-profile .img-wrap {
        height: fit-content;
        width: 80%;
    }

    .public-profile .hire {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .public-profile .btn-danger--custom {
        width: 65%;
        margin-left: -10rem;
        margin-top: 2rem;
    }

    /*------ Add post Page Style -----*/
    .page-header {
        flex-direction: column;
    }

    .paginate-number {
        align-self: center;
        margin-bottom: 2rem;
    }

    ol.progress-meter li {
        margin-right: 6rem;
    }

    .sub-section, .payment .sub-section {
        display: none;
    }

    .add-post .custom-filed {
        width: 59%;
    }

    /*about us */
    .about-us .sub-pargraph {
        width: 70%;
    }

    /*job details Section Style */
    #job-details .section3 {
        width: 60%;

    }

    #job-details .section {
        width: 60%;

    }

}


@media (max-width: 768px) {

    /*job details popup*/
    #largeModal button.close {
        display: none;
    }

    #largeModal .modal-body {
        margin-top: 0;
    }

    #largeModal .accepted-people .btn {
        width: 80%;
    }

    #largeModal nav.modal-breadcrumb {
        display: block;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    #largeModal .close {
        font-weight: 400;
    }

    #largeModal div.modal-dialog {
        max-width: 100%;
        margin-left: 0;
    }

    #largeModal .accepted-people {
        width: 100%;
    }
    #largeModal .accepted-people .media-body {
        grid-template-columns: repeat(2,1fr);
    }

    #largeModal .accepted-people .job-time {
        align-self: baseline;
        justify-self: end;
        text-align: unset;


    }

    #largeModal .accepted-people .btn {
        justify-self: start;
        margin-left: -3rem;
        margin-top: 1rem;
    }
    /*Slider Style */
    #slider .header-text h1 {
        text-align: left;
        font-size: 3rem;
        height: 3.9rem;
    }

    #slider .header-text h2 {
        font-size: 2rem;
        height: 1.5rem;
    }

    #slider .header-text p {
        font-size: 1rem;
    }


    /*slick style*/
    #best-mery .name {
        font-size: .75rem;
        text-align: center;
        margin-top: .37rem;
    }

    #best-mery .age {
        font-size: .5rem;
        text-align: center;
        opacity: .5;
    }

    .slick-slide img {
        margin-top: 0.5rem;
    }

    .up-arrow, .logo-wrapper {
        display: none;
    }

    #best-mery .mery-header {
        font-size: 1.25rem;
    }

    .prev, .next {
        display: block;
    }

    .slick-slide img {
        opacity: 1;
    }

    div.slide.slick-slide.slick-current.slick-active.slick-center img {
        transform: scale(1, 1);
        margin-bottom: 0;

    }

    #best-mery .fa-star {
        font-size: .75em;
    }

    #best-mery .radial-line {
        width: 7rem;
        border-width: 3px;
    }

    #best-mery .btn-danger--custom {
        display: none;
    }

    /*footer section*/
    .flex-row {
        width: 100%;
        margin: auto;
    }

    .footer-section--3 {
        padding-left: 6rem;
    }


    .footer-section--1 {
        width: 85%;
        margin: auto;
    }


    .footer-section {
        margin-bottom: 3.25rem;
    }


    .copyright--flex {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer-social {
        margin-bottom: 1rem;
    }

    #slider .carousel-indicators li {
        background-color: #E6E6E6;
    }

    /*forget password style */
    #forgetPassword .left-section {
        padding-top: 10%;
    }

    #forgetPassword .enterEmail {
        width: 70%;
    }

    /*want mery*/
    #want-mery .web-link {
        display: none;
    }

    #want-mery .mobile-link {
        display: block;
        height: 100%;
    }

    /*-------- Home page Style -----------*/
    .main-heading {
        font-size: 1rem;
    }

    #started-section .col-custom {
        display: none;
    }

    #started-section .line {
        display: none;
    }

    .media-custom {
        margin: 0 auto;
    }

    #started-section .media-btn {
        display: none;

    }

    #started-section .media-body {
        margin-bottom: 2rem;
    }

    #started-section .desktop-header {
        display: none;
    }

    #started-section .mobile-header {
        display: block;
    }

    /*Service section style */
    #services-section .media-custom {
        width: 60%;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
    }

    #service-section .main-heading {
        font-size: 1.5rem;
    }

    #services-section .media-body h4 {
        font-size: 1rem;
    }

    #services-section .card-wrapper {
        display: none;
    }

    /*------ Job Posts Page --------*/
    .job-wrapper {
        width: 95%;
    }

    .job-wrapper .job-description {
        width: 100%;
    }

    .job-wrapper .more {
        padding-bottom: 1rem;
    }

    /*Profile page style */
    #profile-section {
        width: 100%;
    }

    #profile-section .profile-container {
        padding-left: 0;
        padding-right: 0;
    }


    #profile-section .media-custom {
        width: 60%;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
    }

    #profile-section .media-body h4 {
        font-size: 1rem;
    }

    #profile-section .card-wrapper {
        display: none;
    }

    .list li.paddingLeft1 {
        padding-left: 0;
    }

    #profile-section .profile-list {
        margin-top: 0;
    }


    /*Information section */
    .resume .col-form-label {
        font-size: .75rem !important;
    }

    .resume .check-inline {
        padding: .5rem;
        font-size: .687rem !important;
    }

    .resume .check-wrapper input:checked ~ .check {
        border-width: 3px;
    }

    .resume .check {
        width: .75rem;
        height: .75rem;
    }

    .resume .check-wrapper {
        font-size: .687rem;
    }

    .resume .gender {
        padding-left: 0;
    }

    .resume .check-inline--2 {
        margin-right: 0;
    }

    .resume .btn-save {
        margin-left: 8%;
        width: 85%;

    }

    .resume .form-control {
        font-size: .75rem;
    }

    .resume select {
        font-size: .75rem;
    }



    /*Job Applied Section */
    .job-applied .content-wrapper {
        width: 85%;
    }

    .job-applied .content-wrapper--1 p {
        font-size: .75rem;
    }

    .job-applied .row-header, .job-applied hr {
        display: none;
    }

    /*Footer*/
    .footer-modified .app {
        width: 60%;
    }

    /*about us */
    .about-us .main-heading {
        font-size: 1.5rem;
    }

    .about-us .about-heading {
        font-size: 1.875rem;
    }

    .about-us .about-pargraph {
        font-size: 1rem;
    }

    .about-us .sub-heading {
        font-size: 1.25rem;
    }

    /*job details Section Style */

    #job-details .section3 {
        width: 70%;
    }
    #job-details .section {
        width: 85%;

    }
}


@media (max-width: 576px) {

    /*job details pop up*/

    #employer-posts-section .job-wrapper:last-of-type {
        margin-bottom: 20rem;
    }
    #largeModal .container {
        padding-left: 0;
        padding-right: 0;
    }
    #largeModal .back-icon {
        font-size: .7em;
    }

    #largeModal .paginate-header {
        color: #404040;
    }

    #largeModal .modal-body {
        overflow-y: auto;
    }

    #largeModal .p-hide {
        display: block;
        color: #1F2026;
    }


    /*top nav */
    #top-nav .nav-logo {
        margin-top: -1.5rem;
        margin-left: .5rem;
        top: unset;
    }

    #top-nav.pos {
        margin-top: 1rem;
    }

    #top-nav .icon {
        font-size: 1.5em;
    }

    /*--------------- slider Style ------------*/
    #slider .carousel-caption--custom {
        top: 10%;
    }

    #slider .header-text h1 {
        font-size: 2.75rem;
        height: 3.6rem;
    }

    #slider .header-text h2 {
        font-size: 1.1875rem;
        height: 1.18rem;
    }

    #slider .header-text p {
        font-size: .562rem;
    }

    #slider .header-text {
        margin-top: 10%;
    }

    #slider .carousel-item {
        background-image: url("../img/showCaseMobile.png");
        height: 12.75rem;
    }

    .carousel-indicators {
        bottom: -23%;
    }

    #slider .carousel-indicators li {
        background-color: #E6E6E6;
    }

    #top-nav.pos {
        z-index: 50;
    }


    /*auth section */
    #auth-section .form-group--custom {
        width: 100%;
    }
    #auth-section .auth-nav {
        width: 100%;
    }
    /*want mery*/
    #want-mery .img-paragraph {
        line-height: 1.9;
        padding-top: .9rem;
    }

    /*Home Page Style */
    #started-section .main-heading {
        display: none;
    }

    .media-custom {
        margin-top: 1.5rem;
    }

    #started-section .media-body {
        margin-top: 1rem;
        margin-bottom: .3rem;
        line-height: 1;
    }

    #started-section .right-side {
        margin-top: 1rem;
        padding-top: 1.5rem;
    }

    #started-section .media-body h4 {
        font-size: .937rem;
    }

    #started-section .media-body small {
        font-size: .56rem;
    }

    #started-section .media-body--2 {
        margin-bottom: 1.3rem;
    }

    /*services*/
    #services-section .row-wrapper {
        width: 90%;
    }

    /*notification style*/
    #notification .paragraph {
        font-size: .875rem;
    }

    #notification .nav-pills .nav-link {
        font-size: 1rem;

    }

    #notification .navigation {
        display: flex;
        justify-content: center;
    }

    #notification .activities {
        margin-left: unset !important;
    }

    /*Job Posts */
    .job-header {
        width: 100%;
    }

    .form-group--custom {
        width: 100%;
    }

    .job-wrapper .job-description, #employer-posts-section .job-wrapper .job-description {
        font-size: .875rem;
        width: inherit;
        margin-left: -2rem;
        padding-top: .5rem;
    }


    .posts-section .nav-pagination {
        /*margin-bottom: .5rem;*/
        display: none;
    }

    .filter-bar .input-group-text.filter-box {
        padding-right: 1.5rem;
    }


    #employer-posts-section .job-wrapper {
        padding: 1rem;
    }

    .search-input {
        padding-left: 0;
    }

    .search-bar .input-group {
        height: 2.31rem;
        background-color: #FFFFFF;
        border-radius: 7px;
    }

    .search-bar .search-text {
        margin-left: -2rem;
    }


    .search-bar .right-text {
        visibility: hidden;
        width: 0;
        padding-left: 0 !important;
        margin-right: 1rem !important;
    }


    .search-bar .left-text {
        font-size: .75rem;
    }

    .search-bar .input-group-text.filter-box {
        padding-left: .5rem;
    }

    .search-bar .ver-line {
        right: 2.9rem;
    }

    .btn-search {
        width: 3.75rem;
        left: 1.5rem;
    }

    .btn-search .btn-text {
        top: 10%;
        font-size: .75rem;
    }

    .prepend-width {
        width: 10%;
    }

    .posts .job-wrapper:last-of-type {
        margin-bottom: 1.5rem;
    }

    .find-mery .posts .job-wrapper:last-of-type {
        margin-bottom: 11.56rem;
    }

    #page-footer {
        margin-top: 0;
    }


    /*--------- profile style ------*/
    #profile-section .media-body h4, .list a {
        font-size: 1.125rem;
    }

    #profile-section .profile-about {
        font-size: .875rem;
    }
    #profile-section .location {
        font-size: 1rem;
    }

    #profile-section .profile-heading {
        font-size: 1.53rem;
    }
    #profile-section .fa-star {
        font-size: .8em;
    }

    #profile-section .line {
        width: 6rem;
    }

    #profile-section .pic-wrapper {
        width: 50%;
    }

    #profile-section .profile-pic{
            display: none;
    }

    #profile-section .media {
        margin-bottom: 2rem;
    }

    #profile-section .pic-wrapper img {
        width: 100%;
    }

    #profile-section .profile-list {
        margin-bottom: 4rem;
    }

    #profile-section .list .list-item-text {
        font-size: 1.125rem;
    }

    /*Referral Sectio Style */
    .referral .referral-wrapper {
        width: 100%;
        padding-left: 1.375rem;
    }

    .referral .referral-header {
        font-size: 1.8125rem;
    }

    .referral .referral-description {
        padding-left: 0;
    }

    .referral .btn-danger--custom {
        width: 60%;
    }

    .job-applied .job-title {
        padding-left: .7rem;
    }

    /*job details Section Style */
    #job-details .section3 {
        width: 100%;

    }

    #job-details .section {
        width: 100%;

    }

    #job-details .width {
        width: 100% !important;
    }

    #job-details .all {
        border: none;
    }

    #job-details .date1 {
        display: block !important;
        margin-bottom: 0;
    }

    #job-details .hour {
        margin-left: 0;
        margin-right: 47%;
    }

    #job-details .wanted {
        margin-bottom: 0;
        margin-top: 10%;
        margin-right: 33%;
    }

    #job-details .right-line {
        margin-right: 3.5%;
        margin-left: 3.5%;
    }

    #job-details .typeOfJob {
        margin-top: 10%;
    }

    #job-details .job-post {
        background-color: unset;
    }

    #job-details .time {
        margin-left: 77%;
        margin-bottom: -2rem;
    }

    /*Footer style */
    .footer-modified .footer-section--1 {
        display: block !important;
    }

    .footer-modified .footer-modified--1 {
        padding-left: 2rem;
    }

    .footer-section--3 {
        padding-left: 4rem;
    }

    /*public Profile Section*/
    #profile-section.public-profile .media {
        width: 95%;
        margin: 2rem auto;
    }

    #profile-section.public-profile .media-info {
        margin-top: 0;
    }

    .public-profile .status {
        font-size: .875rem;
    }

    #profile-section.public-profile .profile-id {
        font-size: 1.125rem;
    }

    #profile-section.public-profile .profile-stars {
        font-size: 1em;
    }


    #profile-section.public-profile .pic-wrapper img {
        margin-right: 0;
    }

    #profile-section.public-profile .pic-wrapper {
        width: 25%;
        margin-right: 1rem;
    }

    .public-profile .label-group {
        margin-left: 0;
        margin-right: 0;
    }

    .public-profile .info-label, .public-profile .info-value {
        font-size: .75rem;
    }

    .public-profile .btn-danger--custom {
        width: 70%;
        margin-left: -6rem;
        margin-top: 1.3rem;
    }

    /*------ Add post Page Style -----*/
    .add-post .job-form {
        /*width: 85%;*/
        margin: auto;
    }

    .add-post .check {
        top: 0;
    }
    .add-post .col-width{
        padding-left: 0;
        padding-right: 0;
    }

    .header-wrap {
        padding-left: 1.5rem;
        background-color: unset;
    }

    .main-heading--1, .page-header .divition-line {
        font-size: 1.5625rem;
        margin-left: 1rem;
    }

    .page-header .divition-line,.paginate-number  {
        margin-bottom: 1rem;
    }


    ol.progress-meter li {
        padding: .2rem .7rem;
        border-width: 5px;
        margin-right: 4.5rem;
    }

    ol.progress-meter li:last-of-type {
        margin-right: 1rem;
    }

    ol.progress-meter li .steps {
        font-size: 0.9375rem;
        line-height: 1rem;
    }

    ol.progress-meter li::before {
        top: .9em;
        left: -6em;
        width: 6em;
    }

    /*Add Post Form Style */
    .add-post .col-form-label, .payment .col-form-label {
        font-size: .75rem;
    }

    .add-post .category-option {
        padding-left: 1rem;
        width: 6.5rem;
    }

    .add-post .form-radio {
        width: 30%;
    }

    .add-post .col-choice2 {
        padding-left: 0;
    }


    .add-post .custom-filed input {
        height: 2.06rem;
    }

    .add-post .custom-filed .btn-danger--custom {
        height: 2.625rem;
    }


    .add-post .input-group-prepend {
        padding: .2rem 0;
    }

    .add-post .category-option {
        padding-top: 0;
    }

    .add-post .form-group--file .btn-find {
        padding: .275rem 1.7rem;
    }

    .add-post .col-form-label--1 {
        width: 55%;
    }

    .add-post .custom-filed input::placeholder, .custom-filed textarea::placeholder {
        font-size: .6rem;
    }

    .add-post .col--6 {
        padding-left: 0;
    }

    .add-post .col-width .form-select select {
        font-size: .625rem;
    }
    /*payment mobile style*/
    .payment {
        margin-bottom: 5rem;
    }


    .payment .payment-method {
        display: none;
    }

    .payment .visa-text img {
        width: 45%;
        margin: auto;
    }

    .payment .custom-filed input::placeholder {
        font-size: .75rem;
    }

    .payment select {
        margin-right: 1.1rem;
        font-size: .75rem;
    }

    .payment .select-filed select:last-of-type {
        width: 70%;
    }

    .payment .form-group:last-of-type {
        margin-left: 0;
    }
    .add-post .submit-filed {
        width: 70%;
        margin-bottom: 2.6rem;

    }
    .payment .submit-filed  {
        width: 100%;
    }

    .payment .submit-filed input {
        font-size: .687rem;
        height: 2.5rem;

    }

    .payment .method-wrapper {
        width: 85%;
        margin: 0 auto 3rem auto;
    }

    .payment .label-box {
        width: 7.8rem;
    }


    .payment .label-box p {
        font-size: .5625rem;
        margin-bottom: 0;
    }

    .payment .check-circle {
        width: .6856rem;
        height: .6856rem;
        margin-right: .6rem;
    }

    .payment .label-box img {
        width: 30%;
        margin-bottom: .7rem;
    }


    /*success payment */
    .success-payment {
        margin-top: 3rem;
    }

    .success-head {
        font-size: 1.65rem;
    }

    .success-payment p {
        font-size: 1rem;
    }

    .success-payment img {
        display: none;
    }

    .success-payment .end .btn-danger--custom {
        font-size: .687rem;
        width: 18.3rem;
    }

    /*about us */
    .about-us .about-pargraph {
        text-align: justify;
        text-justify: inter-word;
        font-size: .875rem;
    }

    .about-us .sub-pargraph {
        width: 100%;
    }


    .about-us .social-icon {
        margin-left: auto;
        margin-right: auto;
    }

    .about-us .about-heading {
        font-size: 1.5625rem;
    }

    .about-us .sub-heading {
        font-size: 1.25rem;
    }

    .about-us .social-icon a:last-of-type i.subscribe-icon {
        margin-right: 0;
    }


    /*----- find mery ------*/

    .filter-options .form-select select {
        font-size: .875rem;
    }

}


@media (max-width: 390px) {

    .job-wrapper .job-description {
        font-size: 0.78rem !important;
    }

    #want-mery #find-mery-modal .btn-danger--custom {
        width: unset;
    }

    ol.progress-meter {
        padding-left: 1rem;
    }
    ol.progress-meter li {
        margin-right: 4rem;
    }

    .payment select {
        margin-right: .875rem;
    }
    .add-post .gender {
        padding-left: 8%;
    }

    .payment .select-filed select:nth-of-type(2){
        padding-left: .5rem;
    }

}